<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Links de cada portal-->
    <!--<add key="POVURLPortalSocial" value="http://testpov.grupoplenum.com/PortalSocial/Auth/Login.aspx?u=asp"/>-->
    <add key="POVURLPortalSocial" value="http://testpov.grupoplenum.com/PortalSocial/Auth/Login.aspx?u=asp"/>
    <add key="POVURLPortalOrientadores" value="http://testpov.grupoplenum.com/PortalSocial/Auth/Login.aspx?u=ori"/>
    <add key="POVURLPortalOperaciones" value="http://testpov.grupoplenum.com/Operaciones/"/>
    <add key="POVURLBlog" value="http://testpovblog.grupoplenum.com/"/>
    <add key="POVURLSerOrientador" value="http://testpov.grupoplenum.com/RequisitosOrientador.aspx"/>
    <add key="POVURLMailToOrientador" value="mailto:sis.pov.2016@gmail.com?subject=Quiero ser orientador"/>
    <add key="POVURLMailToUniversidad" value="mailto:sis.pov.2016@gmail.com?subject=Quiero formar parte del sistema"/>
    <add key="POVPortalAdministracion" value="http://testpov.grupoplenum.com/Administracion/"/>
    <add key="POVPortalTutor" value="http://testpov.grupoplenum.com/PortalTutor/Auth/Login.aspx"/>
    <add key="POVPortalUniversidad" value="http://testpov.grupoplenum.com/PortalUniversidad/Auth/Login.aspx"/>
    <add key="emailFromUser" value="sis.pov.2016@gmail.com"/>
    <add key="emailFromPassword" value="sispov2016"/>
    <add key="emailTo" value="info@yoyvocacional.com"/>
    <add key="emailPort" value="587"/>
    <add key="emailHost" value="smtp.gmail.com"/>
    <add key="emailSSL" value="true"/>
    <add key="" value=""/>
  </appSettings>
  <system.web>
    <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="~/Error.aspx">
      <error statusCode="100" redirect="~/Error.aspx"/>
      <error statusCode="101" redirect="~/Error.aspx"/>
      <error statusCode="200" redirect="~/Error.aspx"/>
      <error statusCode="201" redirect="~/Error.aspx"/>
      <error statusCode="202" redirect="~/Error.aspx"/>
      <error statusCode="203" redirect="~/Error.aspx"/>
      <error statusCode="204" redirect="~/Error.aspx"/>
      <error statusCode="205" redirect="~/Error.aspx"/>
      <error statusCode="206" redirect="~/Error.aspx"/>
      <error statusCode="300" redirect="~/Error.aspx"/>
      <error statusCode="301" redirect="~/Error.aspx"/>
      <error statusCode="302" redirect="~/Error.aspx"/>
      <error statusCode="303" redirect="~/Error.aspx"/>
      <error statusCode="304" redirect="~/Error.aspx"/>
      <error statusCode="305" redirect="~/Error.aspx"/>
      <error statusCode="307" redirect="~/Error.aspx"/>
      <error statusCode="400" redirect="~/Error.aspx"/>
      <error statusCode="401" redirect="~/Error.aspx"/>
      <error statusCode="402" redirect="~/Error.aspx"/>
      <error statusCode="403" redirect="~/Error.aspx"/>
      <error statusCode="404" redirect="~/Error.aspx"/>
      <error statusCode="405" redirect="~/Error.aspx"/>
      <error statusCode="406" redirect="~/Error.aspx"/>
      <error statusCode="407" redirect="~/Error.aspx"/>
      <error statusCode="408" redirect="~/Error.aspx"/>
      <error statusCode="409" redirect="~/Error.aspx"/>
      <error statusCode="410" redirect="~/Error.aspx"/>
      <error statusCode="411" redirect="~/Error.aspx"/>
      <error statusCode="412" redirect="~/Error.aspx"/>
      <error statusCode="413" redirect="~/Error.aspx"/>
      <error statusCode="414" redirect="~/Error.aspx"/>
      <error statusCode="415" redirect="~/Error.aspx"/>
      <error statusCode="416" redirect="~/Error.aspx"/>
      <error statusCode="417" redirect="~/Error.aspx"/>
      <error statusCode="500" redirect="~/Error.aspx"/>
      <error statusCode="501" redirect="~/Error.aspx"/>
      <error statusCode="502" redirect="~/Error.aspx"/>
      <error statusCode="503" redirect="~/Error.aspx"/>
      <error statusCode="504" redirect="~/Error.aspx"/>
      <error statusCode="505" redirect="~/Error.aspx"/>
    </customErrors>
    <compilation debug="true"/>
  </system.web>
</configuration>