.title_form_login {
    color: #444;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    font-family: Helvetica, Arial, sans-serif;
    text-shadow: 0px -1px #f5f5f5;

}
.container_login   
{
    /*height: 747PX;
    overflow:hidden;*/
    background: url(../images/backgroundloginadministracion.jpg) no-repeat /*center center fixed*/;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     position: relative;
     height:auto;	  
}

.portada {
    background: rgba(0, 0, 0, 0) url("../images/backgorundlogin.png") no-repeat scroll 0 0 / 100% 100%;

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}


.text{
margin: 30px 0px 30px 0px;	
padding: 10px;
background: rgba(255,255,255,0.6);
display: inline-block;
text-align : justify;
}

#info_login {
    float:left;
    margin:10px;
    height: 700px;
    width:550px;
}

/*#container_login_panel {
    float:right;
    margin:30px;
    height: auto;
    width:300px;
}

#login_panel {
    float:left;
    width:280px;
    display:block;
    margin: 10px;
    background-color: white;
    display: inline-block;
    overflow: hidden
}*/

.form_login {
    border: 0;
    margin: 0px;
    display: block;
   
     font-family: Helvetica;
    
}

.form_login p label, .form_login p span {
    /*float: left;*/
    /*text-align: right;*/
    width: 70px;
    /*margin-right: 10px;*/
    /*padding-top: 7px;*/
    font-size: 13px;
    font-weight:bold;
}

.form_login p input {
    height: 20px;
    width: 225px;
    margin-bottom: 15px;
    padding: 3px;
    font-size: 16px;
    
}

.form_login p select {
    width: 188px;
    margin-bottom: 15px;
    padding: 3px;
    font-size: 16px;
    
}

.form_login ul {
    margin-top: 7px;
    font-size: 11px;
    float: left;
}

.form_login li {
    display: inline;
    margin-left: 10px;
    float: left;
}

.form_login li a {
    display: inline;
    font-size: 11px;
    font-weight:bold;
}

.form_login li a:hover {
    text-decoration: underline;
}



 #TxtNombre,#TxtPassword
 {
     
 } 
 /*#btnSiguiente,#btnRecuperar
 {
     color:#fff;
     font-size:15px;
     font-family:Arial;
     font-weight:bold;
     display:block;
     width:116px;
     height:30px;
     background-color:#004800;
     padding:0;
     margin-left:30px !important;
     margin-bottom:20px;
     text-align:center;
     vertical-align:middle;
     line-height:30px;
     border: 0px;
     cursor:pointer;
 }*/

.loginCard {
    background-clip: padding-box;
    background-color: #c8c6e2;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);    
    float: left;
    font-size: 14pt;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 160px;
    width: 270px;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
}


.txt-helvetica{
    font-family: Helvetica Neue LT Pro;
    font-style: italic;
    font-weight: bolder !important;
    color: #fff !important;
}

.txt-helvetica-normal{
    font-family: Helvetica;    
}

.txt-helvetica-label{
    font-family: Helvetica;  
}

.txt-helvetica-bold{
    font-family: Helvetica;
    font-weight: bolder !important;
}

.txt-helvetica-italic{
    font-family: Helvetica;
    font-style: italic;
}

.txt-helvetica-italic-bold{
    font-family: Helvetica;
    font-style: italic;
    font-weight: bolder !important;
}

.txt-helvetica-color {
    color: #77aea9;
    font-family: Helvetica Neue LT Pro;
    font-style: italic;
    font-weight: bolder !important;
}

#btn_soy_usuario:hover 
{
    cursor: pointer;
}

.btn-entrar {
    background-color: #33acfd;
    border-color: #33acfd;
    font-family:Helvetica Neue LT Pro;
    font-weight:bolder !important;    
    color: #fff;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    font-size: 14pt;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: inset 0 0 0 2px #f1f1f1;
}

.btn-entrar:hover{
    background: #f1f1f1;
    font-family:Helvetica Neue LT Pro;
    font-style: italic;
    color: #33acfd;
    box-shadow: inset 0 0 0 2px #33acfd;
    font-size:12pt;
}

.btn-cancel {
    background-color: #bf0d0d ;
    border-color: #bf0d0d;
    font-family:Helvetica Neue LT Pro;
    font-style: italic;
    font-weight:bolder !important;    
    color: #fff;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: inset 0 0 0 2px #f1f1f1;
}

.btn-cancel:hover{
    background: #f1f1f1;
    font-family:Helvetica Neue LT Pro;
    font-style: italic;
    color: #bf0d0d;
    box-shadow: inset 0 0 0 2px #bf0d0d;
}

/*#btnRegistrar {
    Height: 57px;
    Width: 209px;
    border-style: none;
    border-color: inherit;
    border-width: 0px;
    color:#fff;
    font-size:15px;
    font-family:Arial;
    display:block;
    background-color:#004800;
    padding:0;
    margin-left:55px;
    text-align:center;
    vertical-align:middle;
    background-image: url('../images/btnRegistrar.png');
    cursor:pointer;
}*/

 #btnOlvidasteContrasena
 {
     color:#ff0000;
     /*margin-left:55px;*/
     font-size:14px;
     text-decoration:underline;
 }   

/*#LblLoginFail
{
    margin-left:15px;
}*/

.titulo-portal {
    color: #082d49;
    font-family:Helvetica-Bold;
    font-size:45px;
    font-weight:bolder;
}
    
.error_recuperar
{
    display:none;
    color:Red;
}
.ventana_modal
{
    width:100%;
    background-image:url("../images/fondo_modal.png");
    position:absolute;
    height:100%;
    display:none;
}
.contenedor_modal
{
    width:700px;
    height:70px;
    padding:55px;
    margin:50px auto;
    background-color:White;
    border: 2px solid #66225e;
    -moz-border-radius: 10px; /* Firefox*/
    -ms-border-radius: 10px; /* IE 8.*/
    -webkit-border-radius: 10px; /* Safari,Chrome.*/
    border-radius: 10px; /* El estándar.*/
    box-shadow: 5px 5px 15px #000;
}
.contenedor_modal h3
{
    color:#A5439A; 
    font-size:24px;
    margin-bottom:15px;
}
.recuperar_contra
{
    
    font-size:13px;
}
#paso1 h4,#paso2Correo h4,#paso2SinCorreo h4
{
    text-align:left;
    margin-top:10px;
    font-size:14px;
    color:#EDA33B;
}
#paso1
{
   
}
#paso1 p
{
    text-align:left;
    margin-bottom:0px;
}
#rbSI
{
   
}
/*#btnSiguiente,#btnRecuperar
{
    margin-top:5px;
    margin-left:160px;
}*/
#txtCorreo
{
    width:195px;
}

.footer {
     min-height: 50px;
    vertical-align: middle;
     margin-bottom: 0;
    padding: 12px 12px;
}

.avisos_footer {
    text-align: center;
    font-size: 14pt!important;
    font-family: Helvetica;
}

@font-face {
  font-family: "Helvetica-Bold";
  src: url("../Styles/fonts/HelveticaNeue-BoldCond.otf");
}
