<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <!-- parametros framework Compañia -->
    <add key="POVDatabaseName" value="POV"/>
    <add key="POVLikeSymbol" value="%"/>
    <add key="POVParameterSymbol" value="@"/>
    <add key="POVNamedParameters" value="true"/>
    <add key="POVUserParameter" value="User ID"/>
    <add key="POVPasswordParameter" value="Password"/>

    <!-- Redes sociales -->
    <add key="POVUrlImgLogo" value="https://yoyvocacional.com/images/logo.png"/>
    <add key="POVUrlImgBackground" value="https://yoyvocacional.com/images/header-yoy-template.png"/>
    <add key="POVUrlImgFace" value="https://yoyvocacional.com/images/facebook.png"/>
    <add key="POVUrlImgTwit" value="https://yoyvocacional.com/images/twitter.png"/>
    <add key="POVUrlImgLinked" value="https://yoyvocacional.com/images/in.png"/>
    <add key="POVUrlImgInstagram" value="https://yoyvocacional.com/images/instagram.png"/>

    <!-- Link Portales-->
    <add key="POVUrlPortalAspirante" value="https://yoyvocacional.com/PortalSocial/Auth/Login.aspx?u=asp"/>

    <!-- Templates-->
    <add key="POVUrlEmailTemplateNotification" value="Files\protocolo\EmailTemplateNotification.html"/>

    <!-- Configuracion de correo -->
    <add key="ConfigPath" value="Files\protocolo\config.txt"/>

    <!-- Intervalos de Tiempos en Milisegundos -->
    <!-- 1 Dia = 86400000 -->
    <!-- 1 Hora = 3600000 -->
    <!-- 1 Minuto = 60000 -->
    <add key="IntervaloMilisegundos" value="60000"/>
    
    <!-- Tiempo de Ejecucíon, correspondiente al intervalo de Milisegundos -->
    <!-- Ejemplo: Si IntervaloMilisegundos = "60000" y Duracion = "5", el tiempo de ejecución es de 5 minutos-->
    <add key="Duracion" value="2"/>

    <!-- Maximo de correo a enviar-->
    <add key="MaximoCorreos" value="2"/>
  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <remove name="ApplicationService"/>
    <remove name="POV"/>
    <!-- conexion base de datos servidor -->
    <add name="POV" providerName="System.Data.SqlClient" connectionString="Server=sqlsvr.grupoplenum.com;Database=YOYVOCACIONAL_OPTER_DEV;User ID=plencamunusr; Password=4vv4BmF2ZhE2"/>
  </connectionStrings>
</configuration>
