<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- parametros framework Compañia -->
    <add key="POVDatabaseName" value="POV" />
    <add key="POVLikeSymbol" value="%" />
    <add key="POVParameterSymbol" value="@" />
    <add key="POVNamedParameters" value="true" />
    <add key="POVUserParameter" value="User ID" />
    <add key="POVPasswordParameter" value="Password" />

    <!-- urls de imagen email -->
    <add key="POVUrlImgEmail" value="http://testpov.grupoplenum.com/images/POVemail.png"/>   

    <!-- urls de imagen y ubicacion del portal social -->
    <add key="POVUrlPortalSocial" value="http://testpov.grupoplenum.com/PortalSocial/Auth/Login.aspx?u=asp" />
    <add key="EmailPath" value="Files\protocolo\EmailTemplateCorreoNoConfirmado.html"/>
    <add key="ConfigPath" value="Files\protocolo\config.txt"/>
    
    <!-- Configuracion de ejecucion del servicio por dia-->
    <!-- Si desea estimar en horas debe hacer un calculo exta-->
    <!-- 12 horas equivale 0.5 dias-->
    <!-- 24 horas equivale a 1 dia-->
    <!-- Para que el servicio se ejecuta cada dia value=1-->
    <add key="Servicio" value="1"/><!--EJECUCION POR DIA-->
  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <remove name="ApplicationService" />
    <remove name="POV" />
    <!-- conexion base de datos servidor -->
    <add name="POV" providerName="System.Data.SqlClient" connectionString="Server=PLENCAMUN15POV;Database=PLENCAMUN15POV_TEST;User ID=campusov; Password=n7ySSsN6"/>
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>