<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="POV" providerName="System.Data.SqlClient" connectionString="Server=sqlsvr.grupoplenum.com;Database=YOYVOCACIONAL_OPTER_DEV;User ID=plencamunusr; Password=4vv4BmF2ZhE2"/>    
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="POVDatabaseName" value="POV"/>
    <add key="POVLikeSymbol" value="%"/>
    <add key="POVParameterSymbol" value="@"/>
    <add key="POVNamedParameters" value="true"/>
    <add key="POVUserParameter" value="User ID"/>
    <add key="POVPasswordParameter" value="Password"/>
    <add key="POVURLServidorContenidos" value="~/Medios/"/>
    <add key="POVMetodoServidorContenidos" value="LOCAL"/>
    <add key="POVUserServidorContenidos" value="cdpov"/>
    <add key="POVPassServidorContenidos" value="n+twar3"/>
    <!--- Carpetas para alojar contenidos en el AMAZONS3:  [publicacion]/[nombre de carpeta]/ -->
    <!-- AMAZON S3: carpeta para contenidos digitales de profesionalizacion -->
    <add key="POVRutaContenidos" value="desarrollo/contenidosDigitales/"/>
    <!-- AMAZON S3: carpeta para imagenes de reactivos dinamicos -->
    <add key="POVRutaImgReactivosDinamico" value="desarrollo/imagenesReactivos/Dinamico/"/>
    <!-- AMAZON S3: carpeta para imagenes de reactivos estandarizados -->
    <add key="POVRutaImgReactivosEstandarizado" value="desarrollo/imagenesReactivos/Estandarizado/"/>
    <!--- Ruta para consumir contenidos en el AMAZONS3:  https://s3.amazonaws.com/[bucketname]/[publicacion]/ -->
    <add key="RutaContenidos" value="https://s3.amazonaws.com/Medios/"/>
    <!-- clave servidor AMAZONS3 -->
    <add key="AWSAccessKey" value="AKIAIXPESA2NWNEEYTZQ"/>
    <add key="AWSSecretKey" value="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"/>
    <add key="BucketName" value="Medios"/>
    <!-- Claves para los modulos activos-->
    <add key="MODULO_TALENTOS_KEY" value="1"/>
    <!-- Acceso portal social -->
    <add key="POVUrlHerramientasDocente" value="http://testpov.grupopelnum.com/Auth/AccesoHerramientasDocente.aspx"/>
    <!-- Modelo para las pruebas docente -->
    <add key="MODELOID_PRUEBA_DOCENTE" value="4"/>
    <!-- Area de conocimiento para pruebas estandarizadas -->
    <add key="AREAID_PRUEBA_DOCENTE" value="1"/>
    <!-- Ruta donde se suben los archivos temporales -->
    <add key="RUTA_CONTENIDOS_TEMP" value="~/Files/ContenidosTemp/"/>
    <!-- AMAZON S3: carpeta para archivos de los docentes -->
    <add key="POVRutaContenidosDocente" value=""/>
  </appSettings>
  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file value="pov-log.txt"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="HttpTraceAppender" type="log4net.Appender.AspNetTraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log-data\log_talentos.txt"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="5MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <!--appender-ref ref="LogFileAppender" /-->
      <!--appender-ref ref="HttpTraceAppender" /-->
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <system.web>
    <globalization uiCulture="es" culture="es-MX"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="20480"/>
    <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="~/Default.aspx">
      <error statusCode="404" redirect="Default.aspx"/>
      <error statusCode="401" redirect="Default.aspx"/>
    </customErrors>
    <sessionState timeout="1440" cookieName="NATWAREHerramientasDocenteCookie" compressionEnabled="true" mode="InProc"/>
  </system.web>
  <system.serviceModel>
    <!--__________________________________________Security https services_________________________________________________-->
    <bindings>
      <webHttpBinding>
        <binding>
          <security mode="Transport"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <!--____________________________________________Security https services_______________________________________________-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="POV.Web.HerramientasDocente.wcf.ReactivoServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="POV.Web.HerramientasDocente.wcf.OrientacionVocacionalServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="POV.Web.HerramientasDocente.wcf.ReactivoService">
        <endpoint address="" behaviorConfiguration="POV.Web.HerramientasDocente.wcf.ReactivoServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="POV.Web.HerramientasDocente.wcf.ReactivoService"/>
      </service>
      <service name="POV.Web.HerramientasDocente.wcf.OrientacionVocacionalService">
        <endpoint address="" behaviorConfiguration="POV.Web.HerramientasDocente.wcf.OrientacionVocacionalServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="POV.Web.HerramientasDocente.wcf.OrientacionVocacionalService"/>
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>