@media screen and (max-width:768px) {
    .comments {
        margin-left: 0px !important;
    }

    #panelcomment {
        margin-left: 0px !important;
    }

        #panelcomment textarea {
            width: 100% !important;
        }

    #Image1 {
        width: 50px;
    }

    #botonsalir {
        text-align: center;
    }

    .tituloresponsiveh {
        display: none;
    }

    .icon_email, .icon_comment, .icon_abajo {
        background-size: 35px 27px;
    }

    .divider-vertical {
        border-right: none !important;
    }

    #menu-top-alumno {
        float: none !important;
    }

    .iconcustomyoy {
        width: 35px !important;
        height: 27px !important;
    }

    .nombreusuario {
        font-size: 12px !important;
    }

    #UsuarioNameResponsivo {
        display: block !important;
        text-align: center;
        margin-top: 15px;
    }

    #tituloportal {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
}

@media only screen and (max-width : 368px) {
    #Image1, #Image2 {
        margin: 30px 0px 0px 20px !important;
        padding: 0px;
    }

    .titulo-portal {
        margin-left: 32px !important;
        font-size: 29px !important;
    }
}

#UsuarioNameResponsivo {
    display: none;
}

.list-inline > li {
    float: left !important;
}

html, body {
    height: 100%;
}

h1 {
    color: #333;
}

body {
    font-size: 12pt;
    font-family: Helvetica;
    height: 100%;
    color: #444;
    background-color: #fff;
}

input[type=text], input[type=password], textarea, select {
    border: solid 1px #ACACAC;
}

.menu_container {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12pt;
}

    .menu_container a {
        color: #252626;
        font-family: Helvetica-Bold;
    }

        .menu_container a:hover {
            text-decoration: underline;
        }

.menu_toolbar_container {
    height: 43px;
}

.fondo_menu {
    background-color: #39215E;
    -moz-box-shadow: 0 1px 1px #818181;
    -webkit-box-shadow: 0 3px 1px #818181;
    box-shadow: 0 3px 1px #818181;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#111111')";
}

.menu_top_container {
    float: right;
    font-size: 1.1em;
    margin: 27px -30px 0 5px;
    padding: 5px;
}

.menu_horizontal {
    line-height: 28px;
    overflow: hidden;
    height: 28px;
}

    .menu_horizontal li {
        display: inline;
        float: left;
        background-color: transparent;
        height: 30px;
        margin: .1em .7em;
    }

#logo-banner {
    width: 291px;
    height: 77px;
    background-color: #fff;
    background: transparent url(../images/SOV_VOCAREER1.png) no-repeat top left;
    position: absolute;
    margin-left: 40px;
    margin-top: 10px;
}

#header {
    background: #fff no-repeat scroll 0 0 / 100% 100%;
    margin: 0;
    min-height: 92px !important;
    padding: 0;
    position: relative;
    width: 100%;
}

.espacio_opcion {
    min-height: 40px;
    vertical-align: middle;
    margin-bottom: 30px;
}

.box_shadow {
    background: white;
    padding: 1px 20px 1px 20px;
    cursor: default;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
    height: 100%;
}

.options_div {
    top: 39px;
    float: right;
    position: absolute;
    width: 140px;
    height: 70px;
    margin-left: 543px;
    display: none;
    z-index: 1000;
}

    .options_div a, .options_div_notificaciones a {
        text-align: right;
        font-size: 12px;
    }

.options_div_notificaciones {
    top: 39px;
    float: right;
    position: absolute;
    width: 150px;
    height: 80px;
    margin-left: 485px;
    display: none;
    z-index: 1001;
}

#opcSalir {
    position: absolute;
    top: 0;
    margin-left: -98px;
}

.page_container {
    width: 1000px;
    height: auto;
    margin: 0 auto;
}

.page_container_login {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#wrapper {
    background: #fff url(../images/top_bar.png) repeat-x top left;
}

#container {
    min-height: 100%;
}

#content {
    height: 100%;
    overflow: visible;
    min-height: 768px;
    padding: 1em 1em 3em;
}

#footer {
    background: #B3B3B3;
    min-height: 30px;
    padding-top: 10px;
    width: auto;
    height: 40px;
    text-decoration-line: underline;
}

#tablaFooter {
    height: 10px;
    text-align: center;
    position: relative;
    margin: 0 auto 15px;
    padding: 0;
}

.stiloTablaFooter tr td {
    width: 33%;
}

.avisos_footer {
    text-align: center;
    font-size: 12pt!important;
    font-family: Helvetica;
}

    .avisos_footer a {
        color: #0067ac;
    }

.avisos_footer_login {
    text-align: center;
    font-size: 14pt!important;
    font-family: Helvetica;
}

.footerpersonalizado {
    min-height: 50px;
    vertical-align: middle;
    margin-bottom: 0;
    padding: 12px 12px;
}

.avisos_footer_login a {
    color: #0067ac;
}

#div_logos {
    display: block;
    width: 890px;
    height: 100px;
    margin: 0 auto;
}

    #div_logos img {
        margin-right: 12px;
        margin-left: 12px;
    }

.panel_info {
    background: #E3EDF4;
    border: 1px solid #C9DBEC;
    -webkit-border-radius: 5px;
    vertical-align: top;
    padding: 5px;
    background: url(../Images/VOCAREER_borde.png)no-repeat center;
    background-position: center;
}

.profile_img {
    display: block;
    width: 160px;
    height: 160px;
    border: 1px solid #FFF;
    margin: 5px auto auto;
    border-radius: 50%;
}

.profile_img-marcoFoto {
    display: block;
    max-width: 150px;
    max-height: 150px;
    border: 5px solid #FFF;
    margin: 10px auto auto;
    border-radius: 50%;
    border: 5px solid #FFF;
    border-color: #33acfd;
    background-color: #ffffff;
}

.profile_img_comunes {
    display: block;
    max-width: 150px;
    max-height: 250px;
    border: 5px solid #FFF;
    margin: 10px auto auto;
}

.profile_img_marco {
    display: block;
    max-width: 180px;
    max-height: 180px;
    border: 5px solid #FFF;
    margin: auto auto 2px;
    border-radius: 50%;
    border-color: #33acfd;
    background-color: #ffffff;
}

.profile_img_aspirante {
    display: block;
    width: 168px;
    height: 168px;
    border: 1px solid #FFF;
    margin: 1px auto auto;
    border-radius: 50%;
}

.profile_img_orientador {
    display: block;
    width: 140px;
    height: 140px;
    border: 5px solid #FFF;
    margin: 1px auto auto;
    border-radius: 50%;
}

.profile_img_marco_aspirante {
    display: block;
    width: 180px;
    height: 180px;
    border: 5px solid #FFF;
    margin: auto auto 2px;
    border-radius: 50%;
    border: 5px solid #FFF;
    border-color: #33acfd;
    background-color: #ffffff;
}

.img_avatar {
    width: 54px;
    height: 54px;
    display: block!important;
}

.user_image_top {
    vertical-align: middle;
    margin-right: 3px;
    max-height: 25px;
    border: 2px solid #FFF;
    float: left;
    border-radius: 50%;
    border: 1px solid #FFF;
    border-color: #33acfd;
    background-color: #ffffff;
}

#info_perfil {
    display: block;
    margin: 10px 2px;
}

    #info_perfil ul {
        float: left;
        display: block;
    }

    #info_perfil li {
        display: inline;
        float: left;
        margin-right: 5px;
    }

        #info_perfil li a {
            color: #1E598E;
        }

#left_panel {
    float: left;
    vertical-align: top;
    display: block;
    margin: 0;
}

#menu_lateral {
    vertical-align: top;
    display: block;
    min-height: 100%;
    background-color: #D5D5D5;
    border: 1px solid #AD9FC0;
    margin: 0;
}

#left_panel .top_alumnos #topAlumnos {
    width: 215px;
    margin-top: 10px;
    padding-bottom: 5px;
    position: absolute;
}

#left_panel .top_alumnos .cabecera {
    text-align: center;
    margin-bottom: 10px;
    display: table;
    width: 100%;
}

    #left_panel .top_alumnos .cabecera > div {
        height: 29px;
        background-color: #39205e;
        vertical-align: middle;
        text-align: center;
        display: table-cell;
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
    }

        #left_panel .top_alumnos .cabecera > div:first-child {
            width: 20px;
            background: transparent url(../Images/cabecera_topalumnos_izq.png) no-repeat center right;
        }

        #left_panel .top_alumnos .cabecera > div:last-child {
            width: 20px;
            background: transparent url(../Images/cabecera_topalumnos_der.png) no-repeat top left;
        }

#left_panel .top_alumnos .separador {
    border: 0;
    height: 5px;
    text-align: center;
    background-image: -webkit-linear-gradient(left, #D8D8D8, #BDBDBD, #D8D8D8);
}

#left_panel .top_alumnos .alumno {
    float: left;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

    #left_panel .top_alumnos .alumno .posicion {
        height: 32px;
        width: 32px;
        float: left;
        position: relative;
        margin-top: 3px;
        margin-right: 5px;
        font-size: 20px;
        background-image: url(../Images/FONDO-RANKING_32x32.png);
        color: #ffffff;
        text-align: center;
    }

        #left_panel .top_alumnos .alumno .posicion > div {
            margin-top: 5px;
        }

    #left_panel .top_alumnos .alumno .info {
        float: left;
        border-width: thin;
        border-style: solid;
        border-color: #D8D8D8;
        width: 170px;
    }

        #left_panel .top_alumnos .alumno .info #dvInfoAlumno {
            float: left;
            margin-left: 5px;
            width: 125px;
            padding-top: 3px;
        }

#page_content_MenuLateraDocente {
    display: block;
    margin-right: 5px;
}

#center_panel {
    float: left;
}

.menu_docentes_azul a {
    color: #067CB4;
    font-size: 14pt !important;
}

#menu-mis-docente ul li {
    height: auto;
    width: 200px;
}

    #menu-mis-docente ul li a {
        margin: 0;
        padding: 0;
    }

    #menu-mis-docente ul li img {
        margin-right: 5px;
    }

#right_panel {
    float: right;
    width: 194px;
    margin: 0;
    padding: 0 5px;
}

.clear {
    clear: both;
}

.title_1 {
    color: #EEA33B;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px dotted #E5E5E5;
    margin: 5px;
}

.line_title {
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
}

.subline_title {
    border-top: 1px solid #fff;
    margin-bottom: 10px;
}

.title_2 {
    color: #333;
    font-weight: 700;
    font-size: 24px;
    font-family: Helvetica;
}

.title_3 {
    font-weight: 700;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    padding: 3px 0;
}

.title_4 {
    color: #777;
    display: inline-block;
    vertical-align: top;
    width: 170px;
}

.title_5 {
    font-weight: 700;
    font-size: 20pt !important;
    font-family: Helvetica !important;
    color: #333;
    margin: 7px 0;
    padding: 3px 0;
}

.title_6 {
    font-weight: 700;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.label_1 {
    font-size: 14px;
}

.selected {
    background-color: #E5E5E5;
}

.button_edit_perfil {
    float: right;
    margin-bottom: 5px;
}

    .button_edit_perfil a:hover {
        color: #067CB4;
    }

.boton_link input {
    background-color: transparent;
    border: 0 solid;
    font-size: 18px !important;
    text-align: left;
    display: inline-block;
    color: #242525;
    cursor: pointer;
    margin: 0 5px 0 0;
    padding: 2px 1px 2px 0;
}

.separador_link {
    color: #1E598E;
    font-size: 10px;
    margin-right: 5px;
    margin-left: 1px;
}

.operDel {
    background-color: #FFF;
    border: 0 solid;
    cursor: pointer;
}

.align_right_boton_1 {
    float: right;
    margin-right: 30px;
    display: block;
    padding-top: 10px;
}

.align_left_boton_1 {
    float: left;
    display: block;
    padding-top: 10px;
}

.boton_1 a:hover, .boton_1 input:hover {
    background-color: #f9f9f9;
    color: #7049AB;
}

.boton_1 a, .boton_1 input {
    background-color: #eee;
    border-top: 1px solid #EFD0EB;
    border-right: 1px solid #EFD0EB;
    border-bottom: 1px solid #EFD0EB;
    border-left: 1px solid #EFD0EB;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: inset 0 1px 0 0 #f5f5f5, 0 1px 0 0 #DDD;
    -webkit-box-shadow: inset 0 1px 0 0 #f5f5f5, 0 1px 0 0 #DDD;
    color: #49156A;
    font-size: 13px;
    line-height: 1;
    text-align: center;
    text-shadow: 0 -1px #F5F5F5;
    -webkit-background-clip: padding-box;
    cursor: pointer;
    margin: 1px 2px;
    padding: 5px 12px;
}

.margin_input {
    margin-left: 80px;
}

.button_input {
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    background: #ef921a;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    text-shadow: 0 -1px #d27c0d;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: .5em .7em;
}

    .button_input:hover {
        background: #fd9e16;
    }

#left_menu {
    margin-top: 10px;
    padding-left: 5px;
}

.menu a, .menu input {
    color: #252626;
    display: block;
    font-size: 14pt !important;
}

    .menu a:hover, .menu input:hover {
        text-decoration: underline;
        color: #33acfd;
    }

.menu input {
    background-color: #FFF;
    border: 0 solid #FFF;
    cursor: pointer;
    font-size: 11px;
    text-align: left;
    width: 100%;
    padding: 0;
}

.menu li {
    line-height: 24px;
    border: 1px solid transparent;
    margin: 2px 0;
}

.link_blue {
    color: #05AED9 !important;
    text-decoration: none !important;
    font-size: 12pt;
    font-family: Helvetica !important;
}

#panel_insert_pub {
    margin-bottom: 10px;
    padding: 6px;
}

    #panel_insert_pub textarea {
        width: 97%;
        margin: 3px auto;
        font-family: Helvetica;
        font-size: 14pt;
    }

#panelcomment {
    margin-left: 65px;
}

    #panelcomment textarea {
        width: 95%;
        margin: 3px auto;
        font-family: Helvetica;
        font-size: 12pt;
    }

.publicacion_muro {
    border-bottom: 1px solid #E5E5E5;
    font-size: 13px;
    display: block;
    position: relative;
    margin: 5px 15px 5px 2px;
    padding: 2px;
}

#more {
    border: 1px solid #DDD;
    font-size: 14pt;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;
    background-color: #f2f2f2;
    padding: 8px;
}

.comment_data {
    display: table-cell;
    vertical-align: top;
}

.panel_avatar {
    border: 0;
    height: 55px;
    width: 55px;
}

.perfil_div {
    font-size: 12px;
    padding-top: 5px;
    margin: 5px 2px;
}

    .perfil_div label {
        display: inline-block;
        vertical-align: top;
        width: 170px;
        padding-left: 1px;
        height: 16px;
        margin: 5px 0;
    }

    .perfil_div ul li input[type=text] {
        display: inline-block;
        width: 200px;
        font-size: 13px;
        margin: 5px 0;
        padding: 3px;
    }

    .perfil_div strong {
        display: inline-block;
        vertical-align: top;
        color: #000;
        margin: 5px 0;
    }

.item_pub {
    border: 1px solid #DDD;
    background-color: #fcfcfc;
    min-height: 65px;
    margin: 5px 0 0;
    padding: 5px;
}

.item_contacto {
    min-height: 65px;
}

.item_pub:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.comments {
    margin-left: 65px;
    font-size: 12px;
    margin-top: 5px;
    padding: 2px;
}

.item_comment {
    border-top: 1px solid #EDEDED;
    padding: 4px 0;
}

.item_comment_content {
    margin-left: 47px;
    font-size: 12px;
}

.border_img {
    margin: 0 auto;
    margin-bottom: 15px;
    height: 63px;
    width: 63px;
    display: block;
    padding: 1px;
    border: 1px solid #FFF;
    border-radius: 50%;
    border-color: #33acfd;
    background-color: #ffffff;
}

.image_like {
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-position: 0 20px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../Images/like.png);
    margin: 0 3px 0 0;
    padding: 0;
}

.img_nocrop_pub {
    float: left;
    height: 54px;
    width: 54px;
    display: block;
    background-color: #FFF;
    padding: 2px;
}

.img_pub img {
    max-height: 60px;
    border-radius: 50%;
    border: 1px solid #FFF;
    border-radius: 50%;
    margin: 0px auto 0px;
}

.dateformat {
    font-size: 18px;
    color: #242525;
}

.img_comment img {
    max-height: 40px;
    border-radius: 50%;
}

.img_comment_div {
    float: left;
    height: 42px;
    width: 42px;
    display: block;
    padding: 2px;
    border: 1px solid #FFF;
    border-radius: 50%;
    border-color: #33acfd;
    background-color: #ffffff;
}

.item_pub_content {
    margin-bottom: 6px;
    font-size: 12pt;
    white-space: normal;
}

.text_content {
    white-space: normal;
    word-wrap: break-word;
    width: 90%;
    text-align: justify;
    font-size: 14pt;
    color: #252626;
}

.item_pub_app {
    min-height: 65px;
    border: 1px solid #DDD;
    max-width: 390px;
    margin: 5px 0 0;
    padding: 5px;
}

.pub_app_content {
    margin-left: 65px;
    margin-bottom: 6px;
    font-size: 12px;
    white-space: normal;
}

#button_like {
    background-color: transparent;
    border: 0 solid transparent;
    width: 20px;
    height: 20px;
    background-position: 0 20px;
    background-image: url(../Images/like.png);
    cursor: pointer;
    vertical-align: middle;
    margin: auto 0;
    padding: 0;
}

    #button_like:hover {
        background-position: 0 0;
    }

.value_reactivo_search {
    display: inline-block;
    width: 45px;
    vertical-align: top;
    text-align: center;
    font-weight: 700;
    margin-right: 10px;
}

    .value_reactivo_search p {
        font-size: 12px;
        font-family: Tahoma;
        margin-top: 4px;
    }

    .value_reactivo_search label {
        font-size: 16px;
        color: #FD651B;
        margin-top: 2px;
        font-family: 'Century Gothic', Verdana, Sans-Serif;
        font-style: italic;
        font-weight: 700;
    }

.formulario_1, .formulario_1 {
    border-bottom: 1px solid #969696;
    display: block;
    background-color: transparent;
    font-family: 'Lucida Grande', arial, sans-serif;
    margin: 0;
    padding: 10px;
}

    .formulario_1 p label, .formulario_2 p label, .span_label_style_70px {
        float: left;
        text-align: right;
        width: 70px;
        margin-right: 10px;
        padding-top: 7px;
        font-size: 12px;
        font-weight: 700;
    }

.formulario_2 p label {
    width: 170px;
}

.formulario_1 p input[type=text], .formulario_2 p input {
    height: 14px;
    width: 178px;
    margin-bottom: 15px;
    font-size: 12px;
    padding: 3px;
}

.formulario_1 p input[type=radio] {
    margin-right: 8px;
}

.formulario_1 span {
    padding-top: 7px;
    font-size: 12px;
    font-weight: 700;
}

.formulario_1 p select, .formulario_2 p select {
    width: 188px;
    margin-bottom: 15px;
    font-size: 12px;
    padding: 3px;
}

.formulario_3 {
    border: 0;
    display: block;
    font-family: 'Lucida Grande', arial, sans-serif;
    border-bottom: 1px solid #E5E5E5;
    margin: 14px 0;
    padding: 10px 15px;
}

    .formulario_3 legend, .formulario_3_title_1 {
        font-size: 16px;
        font-weight: 700;
    }

    .formulario_3 li {
        margin-top: 15px;
        margin-bottom: 15px;
    }

        .formulario_3 li label:first-child {
            display: inline-block;
            text-align: left;
            width: 170px;
            margin-right: 10px;
            font-size: 13px;
            font-weight: 700;
            padding: 7px 5px;
        }

        .formulario_3 li input[type=text], .formulario_3 li input[type=password] {
            height: 18px;
            width: 231px;
            font-size: 14px;
            padding: 3px;
        }

        .formulario_3 li select {
            font-size: 14px;
            padding: 3px;
        }

        .formulario_3 li i {
            width: 16px;
            font-weight: 700;
            font-size: 12px;
        }

.error_input, input.error {
    border: 1px solid red;
}

.error_label, .error {
    color: red;
    font-size: 14pt;
    padding-bottom: 5px;
    padding-left: .5em;
}

.display_info_textarea {
    color: gray;
    font-family: Helvetica !important, Tahoma, sans-serif;
    text-align: right;
    float: right;
    display: block;
    margin-left: 25px;
    font-size: 14pt;
}

.display_info_textarea2 {
    color: gray;
    font-family: Helvetica !important, Tahoma, sans-serif;
    font-size: 12pt;
    display: inline-block;
}

.boldText {
    font-weight: 700;
}

.break_text {
    white-space: normal;
    word-wrap: break-word;
    width: 90%;
    font-size:15px !important;
}

.inline {
    display: inline-block;
    vertical-align: middle;
}

.border_black_4 {
    border-bottom: 4px solid #333;
}

.textarea_no_resize {
    resize: none;
    width: 90%;
}

.center {
    margin: 0 auto;
}

.floatRight {
    float: right;
}

.text_format_1 {
    padding-left: 10px;
    color: #777;
}

.border_bottom {
    border-bottom: 1px solid #DDD;
    width: 100%;
}

.box_border_gray {
    border: 1px solid #DDD;
    background-color: #FEFFFF;
    padding: 5px;
}

.content_clear:after {
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden;
}

.lista_horizontal {
    line-height: 22px;
}

    .lista_horizontal li {
        display: inline;
        float: left;
        margin-right: 2px;
        background-color: transparent;
    }

.item_contact_content {
    margin-left: 75px;
}

#notificacion_container {
    font: normal normal normal 1.2em/1.6em Helvetica, Arial;
}

    #notificacion_container ul li {
        vertical-align: middle;
        line-height: 35px;
    }

#content_izq_notification img {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.new_notification {
    background-color: #f1f1f1;
    padding-top: -5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#content_izq_notification {
    float: left;
    width: 95%;
}

#content_der_notification {
    position: absolute;
    /* right: 8px; */
    top: 5px;
    /* width: 5%; */
    right: 20px;
}

#message {
    margin: auto;
}

.messagearea {
}

    .messagearea .msheader {
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 5px;
        text-align: center;
        background-repeat: repeat-x;
        background-color: #F5F5F5;
        border: 1px solid #DDD;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: inset 0 1px 0 #F5F5F5;
    }

.msmain {
}

.msheader .actions {
    text-align: right;
    padding-top: 10px;
    padding-left: 5px;
    height: 40px;
    margin-right: 15px;
    margin-left: 15px;
}

    .msheader .actions .boton_1 {
        float: left;
        padding-right: 3px;
        -webkit-box-align: center;
    }

.msmain .actions {
    text-align: right;
    padding-top: 10px;
    padding-left: 5px;
    height: 40px;
    background-repeat: repeat-x;
    background-color: #F5F5F5;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 #F5F5F5;
}

#contentms {
    margin: auto;
}

.contentms {
    margin: auto;
}

.msmain .actions .boton_1 {
    float: right;
    padding-right: 3px;
    -webkit-box-align: center;
}

.msmain .searchcontact {
    text-align: center;
    font-weight: 700;
    font-family: Arial,sans-serif;
    font-size: 1.2em;
    float: right;
    padding-right: 10px;
    margin: auto;
}

.msubtitle {
    width: 85%;
    text-align: left;
    background-repeat: repeat-x;
    background-color: #F5F5F5;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 #F5F5F5;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding-top: 6px;
    padding-bottom: 6px;
}

div.newms {    
    height: 100%;
    min-height: 400px;
    margin-top: 5px;
    padding:10px;
    border: 1px solid #DDD;
    background-color: #FEFFFF;
}

div.searchms {
    width: 600px;
    height: 110px;
    visibility: hidden;
    display: none;
    background-color: #FEFFFF;
    margin: auto;
}

li.selectedcontact {
    width: 80px;
    float: left;
    text-align: center;
}

#page_content_content_selected_HplVolver:hover {
    color:#7fc3dc !important;
}

.selectedcontact span {
    width: 14px;
    height: 14px;
    background: url(../Images/icons/icon_cerrar.png);
    float: left;
    position: relative;
    left: 60px;
    overflow: hidden;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-color: transparent;
    cursor: pointer;
}

li.selectedcontact input[type=image] {
    width: 50px;
    height: 50px;
}

.msmain .txtnewms {    
    height: 100%;
    clear: both;
    margin: auto auto 5px;
}

.mnsjs {
    padding: 0px;
    margin-top:45px
}

.mnsj {
    border: 1px solid #DDD;
    background-color: #FEFFFF;
    min-height: 65px;
    height: 100%;
    margin-top: 5px;
}

.contentmnsj {
}

    .contentmnsj .padre {
        margin-top: 5px;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-right: 10px;        
        text-align: justify;
        background-color: #efefef;
        border: 1px solid #dcdfe1;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 3px 3px rgba(255,255,255,.4),0 1px 1px rgba(0,0,0,.05);
        -moz-box-shadow: inset 0 3px 3px rgba(255,255,255,.4),0 1px 1px rgba(0,0,0,.05);
        box-shadow: inset 0 3px 3px rgba(255,255,255,.4),0 1px 1px rgba(0,0,0,.05);
    }

    .contentmnsj .hijo {
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 30px;
        width: 550px;
        text-align: justify;
    }

.panelcomment {
    margin-left: 20px;
    margin-bottom: 5px;
}

.contentmnsj .floatRight {
    margin-right: 10px;
    width: 25px;
}

.text_contentms {
    white-space: normal;
    word-wrap: break-word;
    width: 90%;
    text-align: justify;
    margin-left: 65px;
    font-size:18px;
}

.contentmnsj .item_pub_content {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    font-size: 12px;
    white-space: normal;
}

.contentmnsj .contact {
    padding-left: 5px;
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: auto;
}

.contentmnsj .comments {
    margin-right: 19px;
    min-height: 10px;
    border-radius-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow-webkit-box-shadow: inset 0 3px 3px rgba(255,255,255,.4),0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 3px 3px rgba(255,255,255,.4),0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 3px rgba(255,255,255,.4),0 1px 1px rgba(0,0,0,.05);
    margin-left: 30px;
    font-size: 12px;
    margin-top: 5px;
    padding: 2px;
}

.contentmnsj .padre .boton_link {
    width: 50px;
    margin: 0;
    padding: 0;
}

.contentmnsj .comments .img_comment {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 2px;
    padding: 2px;
}

.contact .img_pub {
    width: 40px;
    height: 40px;
}

.response {
    text-align: center;
    width: 400px;
    height: 10px;
    margin: 5px;
    padding: 5px;
}

.msmain .searchms .selectedcontact {
    float: left;
    width: 150px;
}

.msmain .selectedcontacts {
    width: 550px;
    margin: auto;
}

.msfooter {
    
}

#HlpEditarPerfil, #HlpCambiarPassword {
    margin-left: 0;
}

.opcSalir {
    margin-left: -20px;
}

    .opcSalir a:hover {
        text-decoration: none !important;
    }

.iconSalir {
    background-color: #77aea9;
    height: 29px;
    width: 69px;
    display: inline-block;
    border-radius: 4px;
    font-family: Helvetica Neue LT Pro;
    color: #fff !important;
    text-align: center !important;
}

    .iconSalir:hover {
        text-decoration: none !important;
    }

.miCuenta {
    color: #FFF;
    cursor: pointer;
    width: 117px;
}

.opcionesCuenta {
    background-color: #f5f5f5;
    padding-left: 3px;
    width: 150px;
    margin-left: -50px;
    margin-top: -5px;
    display: none;
    border-bottom: 1px solid #969696;
    border-left: 1px solid #969696;
    border-right: 1px solid #969696;
    z-index: 15000;
    position: absolute;
}

.div_error_login {
    margin-left: -30px;
}

#vacio {
    clear: both;
    height: 5px;
}

.menu_horizontal_2 a {
    color: #86156A;
    font-size: 14px;
}

.resultadosDeReactivos {
    width: 800px;
    margin: 5px auto;
}

.titulo_ver_publicacion {
    color: #EDA33B;
    font-size: 16px;
    font-weight: 700;
}

.titulo_ver_publicacion2 {
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.pageError {
    background-color: #efefef;
    color: #333;
    font-family: Helvetica;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 40px;
    margin: auto;
}

p.contenidoError {
    font-style: italic;
    color: #333;
    font-family: Helvetica;
    font-size: 14pt;
}

.contenidoError {
    width: 90%;
    margin: auto;
}

.imgError {
    width: 500px;
    margin: auto;
}

img.imgError {
    border: none;
}

.opcdestinatariosmnsj {
    font-size: 13px;
    font-family: sans-serif;
    color: #0067ac;
    padding-left: 10px;
    padding-top: 6px;
}

.lsdestinatarios {
    padding-left: 10px;
    padding-top: 5px;
    font-family: sans-serif;
    font-size: 13px;
}

#mensajeRedireccion {
    width: 500px;
    height: 150px;
    border: 1px solid #000;
    background-color: #FFF;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 100px auto;
    padding: 15px 20px;
}

    #mensajeRedireccion h2 {
        color: #BB3BAB;
        font-size: 18px;
        margin-bottom: 10px;
    }

#infoConfirmarAlumno {
    padding-left: 140px;
    padding-top: 140px;
    width: 690px;
}

#Informacion_editar {
    text-align: left;
}

    #Informacion_editar input {
        width: 200px;
    }

#botonesConfirmar {
    margin-left: 100px;
    margin-top: 5px;
    text-align: center;
}

.rojo {
    font-size: 16px;
    color: Red;
}

.titulo1_confirmar {
    font-size: 18px;
    margin-bottom: 7px;
}

.titulo_morado_confirmar {
    color: #26566A;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 2px;
}

div.rptSeccionDiagnostica {
    border: solid 1px #B2A4C4;
    width: 90%;
    margin: 20px auto;
}

div.rptTituloDiagnostica {
    position: relative;
    width: 150px;
    top: -7px;
    left: 15px;
    background-color: #ccc;
}

#TablaReactivo, #HeaderReactivo {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}

.RowHeader tr {
    cursor: pointer;
}

    .RowHeader tr td {
        padding-left: 1px;
        width: 100%;
        border-color: #FFF;
        border-style: solid;
        border-width: 0 1px 0 0;
    }

table.TablaBloque tbody.RowNormalBloque tr {
    background-color: #efefef;
}

#InformacionPersonalDocente {
    background-color: #FFF;
    border: 1px solid #969696;
    width: 850px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 3px 3px 5px #888;
    margin: 5px auto;
    padding: 5px;
}

    #InformacionPersonalDocente p {
        font-size: 16px;
        margin: 5px;
    }

#EscuelasDocente {
    background-color: #FFF;
    border: 1px solid #969696;
    text-align: center;
    width: 850px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 3px 3px 5px #888;
    margin: 10px auto;
    padding: 5px;
}

#GruposDocente {
    background-color: #EFEFEF;
    border: 1px solid #969696;
    text-align: center;
    width: 850px;
    -ms-border-radius-bottomright: 10px;
    -ms-border-radius-bottomleft: 10px;
    -webkit-border-radius-bottomright: 10px;
    -webkit-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 3px 3px 5px #888;
    margin: -14px auto 10px;
    padding: 5px;
}

#page_content_btnCancelar {
    margin-left: 65px;
    margin-right: 15px;
}

#boton_e {
    position: relative;
    background-image: url(../Images/icons/icon_e.png);
    width: 16px;
    height: 16px;
    top: 5px;
}

#boton_b {
    position: relative;
    background-image: url(../Images/icons/icon_b.png);
    width: 16px;
    height: 16px;
    top: 5px;
}

#boton_r {
    position: relative;
    background-image: url(../Images/icons/icon_r.png);
    width: 16px;
    height: 16px;
    top: 5px;
}

.estilo-lista-borde1 li {
    border: 1px solid #DDD;
    background-color: #fcfcfc;
    min-height: 50px;
    margin: 5px 0 0;
    padding: 5px;
}

    .estilo-lista-borde1 li a {
        font-size: 16px;
    }

html, #form1 {
    height: 100%;
}

.nota_pequena, .opcionesCuenta a {
    font-size: 10pt;
}

#menu-alumno, #menu-docente {
    height: 43px;
}

    #menu-alumno a, #menu-docente a {
        color: #fff;
    }

.menu-maintop {
    overflow: hidden;
    height: 1%;
}

    .menu-maintop li {
        float: left;
        margin: 0 15px;
        padding: 0;
    }

        .menu-maintop li a {
            height: 43px;
            vertical-align: middle;
            line-height: 43px;
            display: block;
        }

            .menu-maintop li a:hover {
                background-color: #91268F;
                text-decoration: none;
            }

#panel-container, #content_notification {
    overflow: hidden;
    height: 1%;
}

.boton_1, .boton_link {
    color: #242525;
}

    .boton_link input:hover, .link_blue:hover {
        color: #082d49;
        text-decoration: underline;
    }

.menu ul, #txtCelular {
    margin-left: 3px;
}

.comment_title, .comment, table thead tr.GroupHeader td b, .RowHeader tr td span, table.TablaBloque thead tr td b {
    display: block;
}

.user_pub, .user_comment {
    font-family: Helvetica !important, Arial;
    font-size: 14pt !important;
    font-weight: 700;
}

.img_pub, .img_comment {
    overflow: hidden;
}

.floatLeft, .lista_horizontal ul {
    float: left;
}

.notificacionSocial, .reporteAbusoSocial {
    background-color: #fff;
    border: 1px solid #D5D5D5;
    margin-bottom: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

ul#contactlist, ul#contactls {
    margin: 5px;
}

.menu_horizontal_2 a:hover, .opcMicuenta: hover {
    text-decoration: underline;
}

#TablaReactivo thead tr td, #HeaderReactivo tr td, table.TablaBloque thead tr td {
    background-color: #ccc;
    padding-left: 1px;
    border-color: #FFF;
    border-style: solid;
    border-width: 0 1px 0 0;
}

.RowHeader, .TablaBloque {
    border-collapse: collapse;
    border-spacing: 0;
}

#TablaReactivo tbody tr.RowAlternativo, table.TablaBloque tbody.RowAlternativoBloque tr {
    background-color: #FFF;
}

    table.TablaBloque tbody.RowNormalBloque tr td, table.TablaBloque tbody.RowAlternativoBloque tr td {
        padding-left: 1px;
        border-color: #FFF;
        border-style: solid;
        border-width: 0 1px 0 0;
    }

        table.TablaBloque tbody.RowNormalBloque tr td span, table.TablaBloque tbody.RowAlternativoBloque tr td span {
            display: block;
            overflow: auto;
        }



        table.TablaBloque tbody.RowNormalBloque tr td span, table.TablaBloque tbody.RowAlternativoBloque tr td span {
            display: block;
            overflow: auto;
        }

#tablaFooter #tableFooter_td1 img {
    content: url(../images/sep.jpg);
}

#tablaFooter #tableFooter_td2 img {
    content: url(../images/snte.jpg);
}

#tablaFooter #tableFooter_td3 img {
    content: url(../images/competencias.jpg);
}

/* Consultar banco de reactivos juegos*/
#resultados_juegos li.item_pub img.img_nocrop_pub {
    content: url(../images/icons/icon_31_busc_juegos.png);
}

.resultadoJuegos {
    width: 800px;
    margin: 5px auto;
}

.item_juego {
    padding: 7px 12px;
    font-size: 12px;
    word-wrap: break-word;
    border: 1px solid #dcdfe1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 3px 3px rgba(255,255,255,.4),0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 3px 3px rgba(255,255,255,.4),0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 3px rgba(255,255,255,.4),0 1px 1px rgba(0,0,0,.05);
}

table.TablaBloque tbody.RowNormalBloque tr td span, table.TablaBloque tbody.RowAlternativoBloque tr td span {
    display: block;
    overflow: auto;
}

.resultadosDeJuegosDocente {
    width: 800px;
    margin: 5px auto;
}

.item_juego_docente {
    padding: 7px 12px;
    font-size: 12px;
    word-wrap: break-word;
    border: 1px solid #dcdfe1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 3px 3px rgba(255,255,255,.4),0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 3px 3px rgba(255,255,255,.4),0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 3px rgba(255,255,255,.4),0 1px 1px rgba(0,0,0,.05);
}

#menu-informacion-situacion {
    float: left;
    width: 24%;
    vertical-align: top;
    display: block;
    min-height: 100%;
    background-color: #F9F9F9;
    border: 1px solid #DDD;
    margin: 0;
}

.scroll {
    height: 200px;
    font-size: 12px;
    font-weight: 700;
    margin-top: 5px;
    background-color: #F9F9F9;
}

.item_contenido_digital {
    padding: 7px 12px;
    font-size: 12px;
    word-wrap: break-word;
    border: 1px solid #dcdfe1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 3px 3px rgba(255,255,255,.4),0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 3px 3px rgba(255,255,255,.4),0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 3px rgba(255,255,255,.4),0 1px 1px rgba(0,0,0,.05);
}

.more {
    border: 1px solid #DDD;
    font-size: 14pt;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;
    background-color: #f2f2f2;
    padding: 8px;
}

.ver_mas_bg a {
    background: transparent url(../images/mostrar-grande.png) no-repeat top left;
}

.ver_mas_container a {
    text-decoration: none;
    height: 35px;
    line-height: 34px;
    display: block;
    color: #fff;
    text-align: center;
    width: 230px;
    margin: 0 auto;
    cursor: pointer;
}

    .ver_mas_container a:hover {
        color: #fff;
        text-decoration: none;
    }

.button_clip_39215E {
    background-color: #33acff;
    border-color: #33acff;
    font-family: Helvetica Neue LT Pro !important;
    color: #fff !important;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    font-size: 14pt !important;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: inset 0 0 0 2px #f1f1f1;
}

    .button_clip_39215E:hover {
        background: #f1f1f1;
        font-family: Helvetica Neue LT Pro;
        font-style: italic;
        color: #33acff !important;
        box-shadow: inset 0 0 0 2px #33acff;
    }


.link_91268F {
    color: #91268F;
    cursor: pointer;
    font-size: 14px;
    line-height: 22px;
}

    .link_91268F:hover {
        text-decoration: underline;
    }

.link_3A2F8B {
    color: #38235E;
    cursor: pointer;
    font-size: 14px;
    line-height: 22px;
}

    .link_3A2F8B:hover {
        text-decoration: underline;
    }

.element_3A2F8B {
    background-color: #38235E;
    font-size: 12px;
    line-height: 22px;
    color: #fff;
    padding: 5px;
    font-weight: normal;
}

    .element_3A2F8B:hover {
        color: #fff;
    }

/* confirmar alumno nuevo design */
.logo-confirmar-alumno {
    position: absolute;
    top: 10px;
    margin-left: 30px;
}

.logo_confirmardatos {
    width: 461px;
    height: 139px;
}

.cuerpo_fondo {
    font-size: 12px;
    font-family: Verdana;
    height: 100%;
    color: #000;
    background: #a9abae url(../Images/part-99.png) repeat-x top left;
}

.fondo_logo_top {
    width: 1000px;
    margin: 0 auto;
    background: transparent url(../Images/part-100.png) repeat-x top left;
}

.work-space_confirmar {
    height: 75px;
}

.background_div_contenedor {
    background-color: #fff;
}

.border_div_contenedor {
    border: 10px solid #77aea9;
}

.titulo_confirmar {
    font-size: 18px;
    font-weight: bold;
    color: #A53B90;
}

.tabla_form_confirmar tr {
    height: 30px;
    line-height: 30px;
}

.tabla_form_confirmar input {
    height: 20px;
    width: 200px;
}

.tabla_form_confirmar tr > td {
    width: 185px;
}

.img_correcta_info {
    background: transparent url('../Images/part-101.png') no-repeat;
    width: 369px;
    height: 50px;
    margin: 10px auto;
}

.boton_clip_base {
    background-color: transparent;
    border: 2px solid #BBBDC0;
    width: 190px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #6BAEC0;
    cursor: pointer;
}


.boton_clip_confirmar_no {
    background: transparent url('../Images/part-78.png') no-repeat 5px center;
}

.boton_clip_confirmar_si {
    background: transparent url('../Images/part-76.png') no-repeat 5px center;
}

    .boton_clip_confirmar_si:hover {
        background: #6BAEC0 url('../Images/part-75.png') no-repeat 5px center;
        color: #fff;
    }

.boton_clip_confirmar_no:hover {
    background: #6BAEC0 url('../Images/part-77.png') no-repeat 5px center;
    color: #fff;
}


/**** reportes nuevo disenio *****/
.titulo_principal_superior_reporte {
    border-bottom: 3px solid #91268F;
    height: 24px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0 0 10px;
}

.contenedor_marco_reporte {
    padding: 0;
}

.titulo_marco_reporte {
    border-bottom: 3px solid #91268F;
    height: 24px;
    font-size: 14px;
    font-weight: bold;
    background-color: #E3E5E7;
    padding: 5px 0 0 10px;
}

.titulo_separador_reporte {
    border-bottom: 3px solid #3A2F8B;
    height: 24px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0 0 10px;
}

.contenedor_info_reporte {
    border: 1px solid #DDD;
    background-color: #F9F9F9;
    width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
}

.modal_titulo_marco_general {
    border-bottom: 3px solid #0067ac;
    font-size: 16pt;
    font-weight: bold;
    background-color: #c8c6e2;
    min-height: 44px !important;
    padding: 5px 0 0 10px !important;
}

.tabla_titulo_marco_general {
    border-bottom: 3px solid #082d49;
    font-size: 16px;
    font-weight: bold;
    background-color: #E3E5E7;
    min-height: 30px !important;
    padding: 3px 0 0 10px !important;
}

.contenedor_info_reporte tr {
    height: 26px;
    vertical-align: middle;
}

.btn_regresar_reportes {
    background-image: url('../images/btn_regresar_reportes_n.png');
    color: #fff;
    width: 200px;
    height: 35px;
    line-height: 34px;
    display: block;
    text-align: center;
    padding-left: 10px;
    margin-bottom: 10px;
}

    .btn_regresar_reportes:hover {
        background-image: url('../images/btn_regresar_reportes_h.png');
    }

.btn_regresar_reportes_listado {
    background-image: url('../images/btn_regresar_report_listado_n.png');
    color: #fff;
    width: 200px;
    height: 35px;
    line-height: 34px;
    display: block;
    text-align: center;
    padding-left: 10px;
    margin-bottom: 10px;
}

    .btn_regresar_reportes_listado:hover {
        background-image: url('../images/btn_regresar_report_listado_h.png');
    }

.titulo_marco_general {
    border-bottom: 3px solid #082d49 !important;
    height: 44px;
    font-size: 16pt !important;
    font-weight: bold;
    background-color: #c8c6e2;
    padding: 5px 0 0 10px;
}

.titulo_label_general {
    font-size: 16pt !important;
}

h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container_busqueda_general {
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    border-bottom: #77aea9;
    padding: /*5*/ px;
}

    .container_busqueda_general td {
        padding: 3px 5px;
    }

.input_text_general {
    height: 24px;
    width: 230px;
}

.label_general {
    text-align: right;
    width: 200px;
}

#center_panel .panel_actividades {
    overflow: hidden;
    width: 450px;
}

    #center_panel .panel_actividades .area_opciones_generales {
        display: block;
        width: 220px;
    }

        #center_panel .panel_actividades .area_opciones_generales > input[type="submit"] {
            width: 100%;
        }

        #center_panel .panel_actividades .area_opciones_generales > div {
            text-align: left;
            margin: 10px auto 10px 0px;
        }

            #center_panel .panel_actividades .area_opciones_generales > div > div {
                position: relative;
                margin-bottom: 5px;
            }

                #center_panel .panel_actividades .area_opciones_generales > div > div > select {
                    width: 100%;
                }

                #center_panel .panel_actividades .area_opciones_generales > div > div > .img_estado_actualizacion {
                    width: 19px;
                    position: absolute;
                    right: -20px;
                    top: 3px;
                }

    #center_panel .panel_actividades .area_actividades {
        position: relative;
        display: block;
        height: auto;
        overflow: hidden;
    }

        #center_panel .panel_actividades .area_actividades .pnlwork {
            height: 100%;
            width: 100%;
            background-color: #D5D5D5;
            overflow: hidden;
            background-position-x: 0px;
            background-position-y: 0px;
            background-repeat: repeat-y;
            background-size: contain;
        }

            #center_panel .panel_actividades .area_actividades .pnlwork > img.plantilla_ludica_seleccionada {
                width: 100%;
                height: 100%;
                z-index: 298;
                margin-left: -450px;
            }

        #center_panel .panel_actividades .area_actividades #btnSubir {
            position: absolute;
            top: 0px;
            right: 45%;
        }

        #center_panel .panel_actividades .area_actividades #btnBajar {
            position: absolute;
            bottom: 0px;
            right: 45%;
        }

        #center_panel .panel_actividades .area_actividades .area_intrucciones {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 30px;
            height: 30px;
        }

            #center_panel .panel_actividades .area_actividades .area_intrucciones > button {
                width: 100%;
                min-width: inherit;
            }

#panel_instrucciones_actividades ul > li {
    margin: 10px auto 10px 15px;
    list-style: circle;
}

#content .formulario_cambio_contraseña {
    padding: 30px 20px;
    height: 400px;
}

    #content .formulario_cambio_contraseña .opciones_formulario {
        margin-left: 190px;
    }

.datos-incompletos {
    cursor: pointer;
}

.btn-entrar {
    background-color: #97bf0d;
    border-color: #97bf0d;
    font-family: Helvetica Neue LT Pro;
    color: #fff;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    font-size: 12pt;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: inset 0 0 0 2px #f1f1f1;
}

    .btn-entrar:hover {
        background: #f1f1f1;
        font-family: Helvetica Neue LT Pro;
        font-style: italic;
        color: #97bf0d;
        box-shadow: inset 0 0 0 2px #97bf0d;
        font-size: 12pt;
    }

.logo-banner {
    width: 291px;
    height: 77px;
    background-color: #fff;
    margin-left: 40px;
    margin-top: 10px;
}

.btn-green {
    background-color: #33acfd;
    border-color: #33acfd;
    font-family: Helvetica Neue LT Pro;
    color: #fff !important;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    font-size: 14pt !important;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: inset 0 0 0 2px #f1f1f1;
}

    .btn-green:hover {
        background: #f1f1f1;
        font-family: Helvetica Neue LT Pro;
        font-style: italic;
        color: #33acfd !important;
        text-decoration: none;
        box-shadow: inset 0 0 0 2px #33acfd;
    }

.btn-cancel {
    background-color: #bf0d0d;
    border-color: #bf0d0d;
    font-family: Helvetica Neue LT Pro !important;
    color: #fff;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    font-size: 14pt;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: inset 0 0 0 2px #f1f1f1;
}

    .btn-cancel:hover {
        background: #f1f1f1;
        font-family: Helvetica Neue LT Pro !important;
        font-style: italic;
        color: #bf0d0d !important;
        box-shadow: inset 0 0 0 2px #bf0d0d;
    }

@font-face {
    font-family: "Helvetica";
    src: url("../Styles/fonts/HelveticaNeue-LightCond.otf");
}

@font-face {
    font-family: "Helvetica-Bold";
    src: url("../Styles/fonts/HelveticaNeue-BoldCond.otf");
}

@font-face {
    font-family: "Helvetica Neue LT Pro";
    src: url("../Styles/fonts/HelveticaNeueLTPro-MdCnO.otf");
}

.txt-helvetica {
    font-family: Helvetica;
    font-size: 12pt;
}

.titulo {
    font-size: 14pt;
    color: #252626;
    font-family: Helvetica-Bold;
}

.btnSalir {
    background: url(../Images/VOCAREER_salir.png) no-repeat;
}
