<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="POVDatabaseName" value="POV"/>
    <add key="POVLikeSymbol" value="%"/>
    <add key="POVParameterSymbol" value="@"/>
    <add key="POVNamedParameters" value="true"/>
    <add key="POVUserParameter" value="User ID"/>
    <add key="POVPasswordParameter" value="Password"/>
    <!--- Ruta para consumir contenidos en el AMAZONS3:  https://s3.amazonaws.com/[bucketname]/[publicacion]/[carpeta]/ -->
    <!-- AMAZON S3: carpeta para imagenes de reactivos dinamicos -->
    <!--<add key="POVRutaImgReactivosDinamico" value="https://s3.amazonaws.com/Medios/desarrollo/imagenesReactivos/Dinamico/" />-->
    <add key="POVRutaImgReactivosDinamico" value="http://testpov.grupoplenum.com/Operaciones/Medios/imagenesReactivos/Dinamico/"/>
    <!--configuración de los nombres de las imagenes en las instrucciones tipo Dominos-->
    <add key="POVNomImgPreguntaDominos" value="instrucionPreguntaDominos"/>
    <!--los numeros deben ser del 00 al 06 por ejemplo 'respuesta02'-->
    <add key="POVNomImgRespuestaDominos" value="respuesta"/>
    <!--Extension de las imagenes de instruccion dominos ".png .jpg .jpeg"-->
    <add key="POVNomImgExtensionDominos" value=".png"/>
    <!--configuración de los nombres de las imagenes en las instrucciones tipo Interese-->
    <add key="POVNomImgPreguntaAllportPartUno" value="instrucciones_allport_part1"/>
    <add key="POVNomImgPreguntaAllportPartDos" value="instrucciones_allport_part2"/>
    <add key="POVNomImgPreguntaZavic" value="instrucciones_zavic"/>
    <!--los numeros deben ser del A1 al A4, B1 al B4, C1 al C4 y D1 al D4 por ejemplo 'respuestaA1'-->
    <add key="POVNomImgRespuestaInteres" value="respuesta"/>
    <!--Extension de las imagenes de instruccion intereses ".png .jpg .jpeg"-->
    <add key="POVNomImgExtensionInteres" value=".png"/>
    <!--configuración de los nombres de las imagenes en las instrucciones tipo Raven-->
    <add key="POVNomImgPreguntaRaven" value="instrucionPreguntaRaven"/>
    <!--los numeros deben ser del 01 al 06 por ejemplo 'respuesta02'-->
    <add key="POVNomImgRespuestaRaven" value="respuestaraven"/>
    <!--Extension de las imagenes de instruccion dominos ".png .jpg .jpeg"-->
    <add key="POVNomImgExtensionRaven" value=".png"/>
    <!-- AMAZON S3: carpeta para imagenes de reactivos estandarizados -->
    <add key="POVRutaImgReactivosEstandarizado" value="https://s3.amazonaws.com/Medios/desarrollo/imagenesReactivos/Estandarizado/"/>
    <add key="ImageUrlDiagnostico" value="https://s3.amazonaws.com/Medios/desarrollo/"/>
    <add key="SoundUrlDiagnostico" value="../Content/Sonidos/"/>
    <add key="TiempoPreguntaAutoUpdate" value="5"/>
    <add key="MODULO_RECOMPENSAS_KEY" value="MOD-02"/>
    <!--Valor en segundos-->
    <add key="POVtiempoEsperaSesion" value="15000"/>
  </appSettings>
  <connectionStrings>
    <remove name="POV"/>
    <!-- conexion base de datos servidor -->
    <!--
		<add name="POV" providerName="System.Data.SqlClient" connectionString="Server=sqlsvr.grupoplenum.com;Database=YOYVOCACIONAL_OPTER_DEV;User ID=plencamunusr; Password=4vv4BmF2ZhE2"/>
	-->
    <add name="POV" providerName="System.Data.SqlClient" connectionString="Server=DESKTOP-6CL52QQ;Database=YOYVOCACIONAL_OPTER;Trusted_Connection=true"/>

  </connectionStrings>
  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file value="pov-log.txt"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="HttpTraceAppender" type="log4net.Appender.AspNetTraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log-data\log.txt"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="5MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <!--appender-ref ref="LogFileAppender" /-->
      <!--appender-ref ref="HttpTraceAppender" /-->
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <!--
    Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <globalization uiCulture="es" culture="es-MX"/>
    <compilation debug="true" targetFramework="4.5"/>
    <sessionState timeout="1440" cookieName="NATWAREPRUEBAMOTOR" compressionEnabled="true" mode="InProc"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\SysWOW64\inetsrv\gzip.dll"/>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="application/atom+xml" enabled="true"/>
        <add mimeType="application/xaml+xml" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
    </httpCompression>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <!--__________________________________________Security https services_________________________________________________-->
    <bindings>
      <webHttpBinding>
        <binding>
          <!--<security mode="Transport"/>-->
        </binding>
      </webHttpBinding>
    </bindings>
    <!--____________________________________________Security https services_______________________________________________-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="POV.Web.Portal.Pruebas.wcf.ReactivoServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="POV.Web.Portal.Pruebas.wcf.OrientacionVocacionalServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="POV.Web.Portal.Pruebas.wcf.ReactivoService">
        <endpoint address="" behaviorConfiguration="POV.Web.Portal.Pruebas.wcf.ReactivoServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="POV.Web.Portal.Pruebas.wcf.ReactivoService"/>
      </service>
      <service name="POV.Web.Portal.Pruebas.wcf.OrientacionVocacionalService">
        <endpoint address="" behaviorConfiguration="POV.Web.Portal.Pruebas.wcf.OrientacionVocacionalServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="POV.Web.Portal.Pruebas.wcf.OrientacionVocacionalService"/>
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>