<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- parametros framework Compañia -->
    <add key="POVDatabaseName" value="POV" />
    <add key="POVLikeSymbol" value="%" />
    <add key="POVParameterSymbol" value="@" />
    <add key="POVNamedParameters" value="true" />
    <add key="POVUserParameter" value="User ID" />
    <add key="POVPasswordParameter" value="Password" />

    <!-- Redes sociales -->
    <add key="POVUrlImgBackground" value="http://testpov.grupoplenum.com/images/header-yoy-template.png"/>
    <add key="POVUrlImgFace" value="http://testpov.grupoplenum.com/images/facebook.png"/>
    <add key="POVUrlImgTwit" value="http://testpov.grupoplenum.com/images/twitter.png"/>
    <add key="POVUrlImgLinked" value="http://testpov.grupoplenum.com/images/in.png"/>
    <add key="POVUrlImgInstagram" value="http://testpov.grupoplenum.com/images/instagram.png"/>

    <!-- Link Portales-->
    <add key="POVUrlPortalAspirante" value="http://testpov.grupoplenum.com/PortalSocial/Auth/Login.aspx?u=asp"/>
    <add key="POVUrlOrientador" value="http://testpov.grupoplenum.com/PortalSocial/Auth/Login.aspx?u=ori"/>
    <add key="POVUrlPadres" value="http://testpov.grupoplenum.com/PortalTutor/Auth/Login.aspx"/>

    <!-- Configuracion de correo -->
    <add key="ConfigPath" value="Files\protocolo\config.txt"/>
    
    <!-- Templates-->
    <add key="POVUrlEmailTemplateNewUser" value="Files\protocolo\EmailTemplateNewUser.html"/>    

    <!-- Configuracion de ejecucion del servicio por dia-->
    <!-- Calculo en horas-->
    <!-- 30 minutos horas equivale 0.5-->
    <!-- 1 hora equivale a 1-->
    <!-- Para que el servicio se ejecuta cada hora value=1-->
    <add key="Servicio" value="1"/>
    <!--EJECUCION POR HORA-->

    <!-- Maximo de correo a enviar-->
    <add key="MaximoCorreos" value="100"/>
  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <remove name="ApplicationService" />
    <remove name="POV" />
    <!-- conexion base de datos servidor -->
    <!--<add name="POV" providerName="System.Data.SqlClient" connectionString="Server=sqlsvr.grupoplenum.com;Database=YOYVOCACIONAL_OPTER_DEV;User ID=plencamunusr; Password=4vv4BmF2ZhE2"/>-->
    <add name="POV" providerName="System.Data.SqlClient" connectionString="Server=AGOMEZ-PC\SQLEXPRESS;Database=YOYVOCACIONAL_OPTER;Trusted_Connection=true"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>