<?xml version="1.0" ?><!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- parametros del tiempo en que se muestra la notificación de datos incompletos "50000" -->
    <add key="POVtiempoEsperaNotificacion" value="40000" />
    <add key="POVtiempoEsperaSesion" value="900000" />
    <!-- parametros framework Compañia -->
    <add key="POVDatabaseName" value="POV" />
    <add key="POVLikeSymbol" value="%" />
    <add key="POVParameterSymbol" value="@" />
    <add key="POVNamedParameters" value="true" />
    <add key="POVUserParameter" value="User ID" />
    <add key="POVPasswordParameter" value="Password" />
    <!-- Carpetas de avatares -->
    <add key="POVCarpetaAvataresNormal" value="~/Files/ImagenUsuario/Normal/" />
    <add key="POVCarpetaAvataresThumb" value="~/Files/ImagenUsuario/Thumbs/" />
    <add key="POVImagenesNormal" value="Normal/" />
    <add key="POVImagenesThumb" value="Thumbs/" />
    <!--imagen correo de recuperación de contraseña y Correo confirmado-->
    <add key="POVUrlImgEmail" value="http://testpov.grupoplenum.com/images/email.png" />
    <add key="POVUrlImgLogo" value="http://testpov.grupoplenum.com/images/logo.png" />
    <!-- redes sociales -->
    <add key="POVUrlImgBackground" value="http://testpov.grupoplenum.com/images/header-yoy-template.png" />
    <add key="POVUrlImgFace" value="http://testpov.grupoplenum.com/images/facebook.png" />
    <add key="POVUrlImgTwit" value="http://testpov.grupoplenum.com/images/twitter.png" />
    <add key="POVUrlImgLinked" value="http://testpov.grupoplenum.com/images/in.png" />
    <add key="POVUrlImgInstagram" value="http://testpov.grupoplenum.com/images/instagram.png" />
    <!--Url del Blog y favoritos-->
    <add key="POVUrlBlogPost" value="http://testpovblog.grupoplenum.com/" />
    <add key="POVUrlHrefFavoritos" value="postfavoritos" />
    <!-- Configuración de las graficas de los reportes web -->
    <add key="ChartImageHandler" value="storage=file;timeout=20;Url=~/Files/;" />
    <!-- carpeta virtual que apunta a los documentos de sustentos de juegos -->
    <add key="POVURLJuegoSustento" value="~/Files/Repositorio/JuegosSustento/" />
    <!-- numero maximo de reportes de abuso que se pueden registrar por el alumno-->
    <add key="POVMaximoReporteAbuso" value="10" />
    <!-- tiempo maximo de espara para reportar un abuso al llegar al numero maximo de reportes -->
    <add key="POVCancelarReporteAbuso" value="1440" />
    <!-- urls de imagen y ubicacion del portal social -->
    <add key="POVUrlImgSistema" value="http://testpov.grupoplenum.com/images/head_mail.jpg" />
    <add key="POVUrlPortalSocial" value="http://localhost:28661/Auth/Login.aspx" />
    <!--- Ruta para consumir contenedor de mini juegos -->
    <add key="POVURLContenedorJuegos" value="http://192.168.20.157:83/minijuegos/Inicio.swf" />
    <!--- Ruta para consumir contenedor de libros -->
    <add key="POVURLContenedorLibros" value="http://192.168.20.157:83/libros/libros.php" />
    <!--- Ruta para consumir contenidos en el AMAZONS3:  https://s3.amazonaws.com/[bucketname]/[publicacion]/contenidosDigitales/ -->
    <add key="POVURLServidorContenidos" value="http://testpov.grupoplenum.com/HerramientasOrientador/Medios/" />
    <!--- Ruta para consumir contenidos en el AMAZONS3 para docentes:  https://s3.amazonaws.com/[bucketname]/[publicacion]/contenidosDigitales/ -->
    <add key="POVURLServidorContenidosDocente" value="http://testpov.grupoplenum.com/HerramientasOrientador/Medios/" />
    <!-- Claves para los modulos activos-->
    <add key="MODULO_TALENTOS_KEY" value="MOD-01" />
    <add key="MODULO_RECOMPENSAS_KEY" value="MOD-02" />
    <!-- Acceso herramientas docente -->
    <add key="POVUrlHerramientasDocente" value="http://localhost:55622/Auth/Login.aspx" />
    <!-- Ruta de reportes generados -->
    <add key="POVURLReportes" value="~/Files/Reportes/" />
    <add key="CAMPUSNuevoAspirante" value="http://testpov.grupoplenum.com/Administracion/Aspirantes/NuevoAspirante.aspx" />
    <!-- url landing page Quiero ser orientador-->
    <add key="POVUrlLandingPageRequisitos" value="http://testpov.grupoplenum.com/RequisitosOrientador.aspx" />
    <!-- url landing page -->
    <add key="POVUrlLandingPage" value="http://testpov.grupoplenum.com/PaginaAcceso.aspx" />
    <add key="POVUrlEmailTemplateSolicitud" value="~/Files/protocolo/EmailTemplateSolicitudOrientacion.html" />
    <add key="POVUrlEmailTemplateConfirmacionOrientacion" value="~/Files/protocolo/EmailTemplateConfirmacionOrientacion.html" />
    <add key="POVUrlEmailTemplateCancelacionOrientacion" value="~/Files/protocolo/EmailTemplateCancelacionOrientacion.html" />
    <add key="POVUrlEmailTemplateReembolso" value="~/Files/protocolo/EmailTemplateReembolso.html" />
    <add key="POVUrlEmailNotificacionMP" value="~/Files/protocolo/EmailTemplateNotificacionMP.html" />
    <!--<add key="POVUrlAspirante" value="http://localhost:28661/Auth/Login.aspx?u=asp" />-->
    <add key="POVUrlAspirante" value="http://localhost:28661/Auth/Login.aspx?u=asp" />
    <add key="POVUrlOrientador" value="http://localhost:28661/Auth/Login.aspx?u=ori" />
    <!--<add key="POVUrlOperaciones" value="http://testpov.grupoplenum.com/Operaciones/Auth/Login.aspx" />-->
    <add key="POVUrlOperaciones" value="http://localhost:28682/Auth/Login.aspx" />
    <add key="POVUrlLocation" value="ConfirmarAlumno.aspx" />
    <!-- url landing page -->
    <!-- Bullying -->
    <add key="UrlImgInformacionGeneral" value="http://localhost:28661/Images/bullying/Report/informaciongeneral.png" />
    <add key="UrlImgCirculoRiesgoMedio" value="http://localhost:28661/Images/bullying/Report/circulo_rmedio.png" />
    <add key="UrlImgCirculoRiesgoAlto" value="http://localhost:28661/Images/bullying/Report/circulo_ralto.png" />
    <add key="UrlImgCirculoSinRiesgo" value="http://localhost:28661/Images/bullying/Report/circulo_rnulo.png" />
    <add key="UrlImgTrianguloRiesgoMedio" value="http://localhost:28661/Images/bullying/Report/triangulo_rmedio.png" />
    <add key="UrlImgTrianguloRiesgoAlto" value="http://localhost:28661/Images/bullying/Report/triangulo_ralto.png" />
    <add key="UrlImgTrianguloRiesgoNulo" value="http://localhost:28661/Images/bullying/Report/triangulo_rnulo.png" />
    <add key="UrlImgBloqueI" value="http://localhost:28661/Images/bullying/Report/bloqueI.png" />
    <add key="UrlImgBloqueII" value="http://localhost:28661/Images/bullying/Report/bloqueII.png" />
    <add key="UrlImgBloqueIII" value="http://localhost:28661/Images/bullying/Report/bloqueIII.png" />
    <!-- Escala 2 -->
    <add key="UrlImgEscala2SinConflicto" value="http://localhost:28661/Images/bullying/Report/escala2_cnulo.png" />
    <add key="UrlImgEscala2ConflictoMedio" value="http://localhost:28661/Images/bullying/Report/escala2_cmedio.png" />
    <add key="UrlImgEscala2ConflictoFuerte" value="http://localhost:28661/Images/bullying/Report/escala2_cfuerte.png" />
    <!-- Escala 3-->
    <!-- Combinaciones Critico -->
    <add key="UrlImgEscala3ECcritico" value="http://localhost:28661/Images/bullying/Report/escala3_ECcritico.png" />
    <add key="UrlImgEscala3Ecritico_Cpromedio" value="http://localhost:28661/Images/bullying/Report/escala3_Ecritico_Cpromedio.png" />
    <add key="UrlImgEscala3Ecritico_Celevado" value="http://localhost:28661/Images/bullying/Report/escala3_Ecritico_Celevado.png" />
    <!-- Combinaciones Promedio -->
    <add key="UrlImgEscala3Epromedio_Ccritico" value="http://localhost:28661/Images/bullying/Report/escala3_Epromedio_Ccritico.png" />
    <add key="UrlImgEscala3ECpromedio" value="http://localhost:28661/Images/bullying/Report/escala3_ECpromedio.png" />
    <add key="UrlImgEscala3Epromedio_Celevado" value="http://localhost:28661/Images/bullying/Report/escala3_Epromedio_Celevado .png" />
    <!-- Combinaciones Elevado -->
    <add key="UrlImgEscala3Eelevado_Ccritico" value="http://localhost:28661/Images/bullying/Report/escala3_Eelevado_Ccritico.png" />
    <add key="UrlImgEscala3Eelevado_Cpromedio" value="http://localhost:28661/Images/bullying/Report/escala3_Eelevado_Cpromedio.png" />
    <add key="UrlImgEscala3ECelevado" value="http://localhost:28661/Images/bullying/Report/escala3_ECelevado.png" />
    <add key="UrlImgEscala5" value="http://localhost:28661/Images/bullying/Report/escala5.png" />
    <!-- Escala 6 -->
    <add key="UrlImgEscala6RiesgoNulo" value="http://localhost:28661/Images/bullying/Report/escala6_rnulo.png" />
    <add key="UrlImgEscala6RiesgoModerado" value="http://localhost:28661/Images/bullying/Report/escala6_rmoderado.png" />
    <add key="UrlImgEscala6RiesgoAlto" value="http://localhost:28661/Images/bullying/Report/escala6_ralto.png" />
    <!-- Escala 8-->
    <add key="UrlImgEscala8FVErnulo" value="http://localhost:28661/Images/bullying/Report/escala8FVErnulo.png" />
    <add key="UrlImgEscala8FVrnulo_Ermedio" value="http://localhost:28661/Images/bullying/Report/escala8FVrnulo_Vrmedio.png" />
    <add key="UrlImgEscala8FVrnulo_Eralto" value="http://localhost:28661/Images/bullying/Report/escala8FVrnulo_Eralto.png" />
    <add key="UrlImgEscala8Frnulo_Vrmedio_Ernulo" value="http://localhost:28661/Images/bullying/Report/escala8Frnulo_Vrmedio_Ernulo.png" />
    <add key="UrlImgEscala8Frnulo_VErmedio" value="http://localhost:28661/Images/bullying/Report/escala8Fnulo_VErmedio.png" />
    <add key="UrlImgEscala8Frnulo_Vrmedio_Eralto" value="http://localhost:28661/Images/bullying/Report/escala8Frnulo_Vrmedio_Eralto.png" />
    <add key="UrlImgEscala8Frnulo_Vralto_Ernulo" value="http://localhost:28661/Images/bullying/Report/escala8Frnulo_Vralto_Ernulo.png" />
    <add key="UrlImgEscala8Frnulo_Vralto_Ermedio" value="http://localhost:28661/Images/bullying/Report/escala8Frnulo_Vralto_Ermedio.png" />
    <add key="UrlImgEscala8Frnulo_VEralto" value="http://localhost:28661/Images/bullying/Report/escala8Frnulo_VEralto.png" />
    <add key="UrlImgEscala8Frmedio_VErnulo" value="http://localhost:28661/Images/bullying/Report/escala8Frmedio_VErnulo.png" />
    <add key="UrlImgEscala8Frmedio_Vrnulo_Ermedio" value="http://localhost:28661/Images/bullying/Report/escala8Frmedio_Vrnulo_Ermedio.png" />
    <add key="UrlImgEscala8Frmedio_Vrnulo_Eralto" value="http://localhost:28661/Images/bullying/Report/escala8Frmedio_Vrnulo_Eralto.png" />
    <add key="UrlImgEscala8FVrmedio_Ernulo" value="http://localhost:28661/Images/bullying/Report/escala8FVrmedio_Ernulo.png" />
    <add key="UrlImgEscala8FVErmedio" value="http://localhost:28661/Images/bullying/Report/escala8FVErmedio.png" />
    <add key="UrlImgEscala8FVrmedio_Eralto" value="http://localhost:28661/Images/bullying/Report/escala8FVrmedio_Eralto.png" />
    <add key="UrlImgEscala8Frmedio_Vralto_Ernulo" value="http://localhost:28661/Images/bullying/Report/escala8Frmedio_Vralto_Ernulo.png" />
    <add key="UrlImgEscala8Frmedio_Vralto_Ermedio" value="http://localhost:28661/Images/bullying/Report/escala8Frmedio_Vralto_Ermedio.png" />
    <add key="UrlImgEscala8Frmedio_VEralto" value="http://localhost:28661/Images/bullying/Report/escala8Frmedio_VEralto.png" />
    <add key="UrlImgEscala8Fralto_VErnulo" value="http://localhost:28661/Images/bullying/Report/escala8Fralto_VErnulo.png" />
    <add key="UrlImgEscala8Fralto_Vrnulo_Ermedio" value="http://localhost:28661/Images/bullying/Report/escala8Fralto_Vrnulo_Vrmedio.png" />
    <add key="UrlImgEscala8Fralto_Vrnulo_Eralto" value="http://localhost:28661/Images/bullying/Report/escala8Fralto_Vrnulo_Eralto.png" />
    <add key="UrlImgEscala8Fralto_Vrmedio_Ernulo" value="http://localhost:28661/Images/bullying/Report/escala8Fralto_Vrmedio_Ernulo.png" />
    <add key="UrlImgEscala8Fralto_VErmedio" value="http://localhost:28661/Images/bullying/Report/escala8Fralto_VErmedio.png" />
    <add key="UrlImgEscala8Fralto_Vrmedio_Eralto" value="http://localhost:28661/Images/bullying/Report/escala8Fralto_Vrmedio_Eralto.png" />
    <add key="UrlImgEscala8FVralto_Ernulo" value="http://localhost:28661/Images/bullying/Report/escala8FVralto_Ernulo.png" />
    <add key="UrlImgEscala8FVralto_Ermedio" value="http://localhost:28661/Images/bullying/Report/escala8FVralto_Ermedio.png" />
    <add key="UrlImgEscala8FVEralto" value="http://localhost:28661/Images/bullying/Report/escala8FVEralto.png" />
    <add key="UrlImgEscala9" value="http://localhost:28661/Images/bullying/Report/escala9.png" />
    <!-- Escala 10 -->
    <add key="UrlImgEscala10RAlto" value="http://localhost:28661/Images/bullying/Report/escala10_ralto.png" />
    <add key="UrlImgEscala10RMedio" value="http://localhost:28661/Images/bullying/Report/escala10_rmedio.png" />
    <add key="UrlImgEscala10RNulo" value="http://localhost:28661/Images/bullying/Report/escala10_rnulo.png" />
    <!-- Escala 12 -->
    <add key="UrlImgEscala12RAlto" value="http://localhost:28661/Images/bullying/Report/escala12_severo.png" />
    <add key="UrlImgEscala12RMedio" value="http://localhost:28661/Images/bullying/Report/escala12_moderado.png" />
    <add key="UrlImgEscala12RLeve" value="http://localhost:28661/Images/bullying/Report/escala12_leve.png" />
    <add key="UrlImgEscala12RNulo" value="http://localhost:28661/Images/bullying/Report/escala12_noriesgo.png" />
    <!-- reporte bullying -->
    <!-- Envio de datos incorrectos -->
    <add key="EmailSoporte" value="soporte@yoyvocacional.com" />
  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <remove name="ApplicationService" />
    <remove name="POV" />
    <!-- conexion base de datos servidor -->
    <!-- conexion base de datos servidor -->
    <!--
		<add name="POV" providerName="System.Data.SqlClient" connectionString="Server=sqlsvr.grupoplenum.com;Database=YOYVOCACIONAL_OPTER_DEV;User ID=plencamunusr; Password=4vv4BmF2ZhE2"/>
	-->
    <!--<add name="POV" providerName="System.Data.SqlClient" connectionString="Server=GONZALO-TUF\SQLEXPRESS;Database=YOYVOCACIONAL_OPTER;Trusted_Connection=true" />-->
	  <add name="POV" providerName="System.Data.SqlClient" connectionString="Server=DESKTOP-T5KIO8Q\SQLEXPRESS;Database=YOYVOCACIONAL_OPTER;Trusted_Connection=true" />
    <add name="BlogEngine" providerName="System.Data.SqlClient" connectionString="Server=sqlsvr.grupoplenum.com;Database=Blog_Net_33;User ID=plencamunusr; Password=4vv4BmF2ZhE2" />
  </connectionStrings>
  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file value="Sistema-log.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="HttpTraceAppender" type="log4net.Appender.AspNetTraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log-data\Sistema-roll-log.txt" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <!--appender-ref ref="LogFileAppender" /-->
      <!--appender-ref ref="HttpTraceAppender" /-->
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <!--
    Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <globalization uiCulture="es" culture="es" />
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0" validateRequest="false" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxClasses" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxCallback" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxCallbackPanel" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxCloudControl" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxDataView" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxFileManager" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxGlobalEvents" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxHeadline" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxHiddenField" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxLoadingPanel" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxMenu" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxNavBar" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxNewsControl" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxObjectContainer" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxPager" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxPanel" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxPopupControl" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxRatingControl" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxRoundPanel" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxSplitter" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxTabControl" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxTimer" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxTitleIndex" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxTreeView" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxSiteMapControl" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxUploadControl" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxDocking" assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxEditors" assembly="DevExpress.Web.ASPxEditors.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxGridView" assembly="DevExpress.Web.ASPxGridView.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxGridView.Export" assembly="DevExpress.Web.ASPxGridView.v12.1.Export, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxHtmlEditor" assembly="DevExpress.Web.ASPxHtmlEditor.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxSpellChecker" assembly="DevExpress.Web.ASPxSpellChecker.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxTreeList" assembly="DevExpress.Web.ASPxTreeList.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxPivotGrid" assembly="DevExpress.Web.ASPxPivotGrid.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxPivotGrid.Export" assembly="DevExpress.Web.ASPxPivotGrid.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.XtraCharts" assembly="DevExpress.XtraCharts.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.XtraCharts.Web" assembly="DevExpress.XtraCharts.v12.1.Web, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.XtraScheduler" assembly="DevExpress.XtraScheduler.v12.1.Core, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxScheduler" assembly="DevExpress.Web.ASPxScheduler.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxScheduler.Controls" assembly="DevExpress.Web.ASPxScheduler.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxScheduler.Reporting" assembly="DevExpress.Web.ASPxScheduler.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </controls>
    </pages>
    <customErrors mode="Off" redirectMode="ResponseRewrite" defaultRedirect="~/Error.aspx">
      <error statusCode="100" redirect="~/Error.aspx" />
      <error statusCode="101" redirect="~/Error.aspx" />
      <error statusCode="200" redirect="~/Error.aspx" />
      <error statusCode="201" redirect="~/Error.aspx" />
      <error statusCode="202" redirect="~/Error.aspx" />
      <error statusCode="203" redirect="~/Error.aspx" />
      <error statusCode="204" redirect="~/Error.aspx" />
      <error statusCode="205" redirect="~/Error.aspx" />
      <error statusCode="206" redirect="~/Error.aspx" />
      <error statusCode="300" redirect="~/Error.aspx" />
      <error statusCode="301" redirect="~/Error.aspx" />
      <error statusCode="302" redirect="~/Error.aspx" />
      <error statusCode="303" redirect="~/Error.aspx" />
      <error statusCode="304" redirect="~/Error.aspx" />
      <error statusCode="305" redirect="~/Error.aspx" />
      <error statusCode="307" redirect="~/Error.aspx" />
      <error statusCode="400" redirect="~/Error.aspx" />
      <error statusCode="401" redirect="~/Error.aspx" />
      <error statusCode="402" redirect="~/Error.aspx" />
      <error statusCode="403" redirect="~/Error.aspx" />
      <error statusCode="404" redirect="~/Error.aspx" />
      <error statusCode="405" redirect="~/Error.aspx" />
      <error statusCode="406" redirect="~/Error.aspx" />
      <error statusCode="407" redirect="~/Error.aspx" />
      <error statusCode="408" redirect="~/Error.aspx" />
      <error statusCode="409" redirect="~/Error.aspx" />
      <error statusCode="410" redirect="~/Error.aspx" />
      <error statusCode="411" redirect="~/Error.aspx" />
      <error statusCode="412" redirect="~/Error.aspx" />
      <error statusCode="413" redirect="~/Error.aspx" />
      <error statusCode="414" redirect="~/Error.aspx" />
      <error statusCode="415" redirect="~/Error.aspx" />
      <error statusCode="416" redirect="~/Error.aspx" />
      <error statusCode="417" redirect="~/Error.aspx" />
      <error statusCode="500" redirect="~/Error.aspx" />
      <error statusCode="501" redirect="~/Error.aspx" />
      <error statusCode="502" redirect="~/Error.aspx" />
      <error statusCode="503" redirect="~/Error.aspx" />
      <error statusCode="504" redirect="~/Error.aspx" />
      <error statusCode="505" redirect="~/Error.aspx" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="DevExpress.XtraReports.v12.1.Web, Version=12.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="DevExpress.Printing.v12.1.Core, Version=12.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxEditors.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraReports.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Utils.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Data.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxGridView.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxGridView.v12.1.Export, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxSpellChecker.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxTreeList.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxThemes.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxPivotGrid.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.SpellChecker.v12.1.Core, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Charts.v12.1.Core, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v12.1.Web, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraPivotGrid.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.PivotGrid.v12.1.Core, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxPivotGrid.v12.1.Export, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraScheduler.v12.1.Core, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxScheduler.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Data.v12.1.resources, Version=12.1.0.0, Culture=es, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.v12.1.resources, Version=12.1.0.0, Culture=es, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxEditors.v12.1.resources, Version=12.1.0.0, Culture=es, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxGridView.v12.1.resources, Version=12.1.0.0, Culture=es, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v12.1.resources, Version=12.1.0.0, Culture=es, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxSpellChecker.v12.1.resources, Version=12.1.0.0, Culture=es, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxTreeList.v12.1.resources, Version=12.1.0.0, Culture=es, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Utils.v12.1.resources, Version=12.1.0.0, Culture=es, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v12.1.resources, Version=12.1.0.0, Culture=es, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Printing.v12.1.Core.resources, Version=12.1.0.0, Culture=es, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraReports.v12.1.resources, Version=12.1.0.0, Culture=es, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraReports.v12.1.Web.resources, Version=12.1.0.0, Culture=es, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraPivotGrid.v12.1.resources, Version=12.1.0.0, Culture=es, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.PivotGrid.v12.1.Core.resources, Version=12.1.0.0, Culture=es, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraScheduler.v12.1.Core.resources, Version=12.1.0.0, Culture=es, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxScheduler.v12.1.resources, Version=12.1.0.0, Culture=es, PublicKeyToken=b88d1754d700e49a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="20480" requestValidationMode="2.0" executionTimeout="110" />
    <sessionState timeout="1440" cookieName="SistemaSOCIAL" compressionEnabled="true" mode="InProc" />
    <authentication mode="Forms">
      <forms loginUrl="~/Auth/Login.aspx" timeout="2880" />
    </authentication>
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
  </system.web>
  <system.webServer>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\SysWOW64\inetsrv\gzip.dll" />
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="application/xaml+xml" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
    </httpCompression>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <!--<source name="System.ServiceModel"
                    switchValue="Information, ActivityTracing"
                    propagateActivity="true">
                <listeners>
                    <add name="traceListener"
                        type="System.Diagnostics.XmlWriterTraceListener"
                        initializeData= "log-data\Traces.svclog" />
                </listeners>
            </source>-->
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="log-data\messages.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="false" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" maxMessagesToLog="1000" maxSizeOfMessageToLog="2000">
        <!--<filters>
                    <add xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:a="http://www.w3.org/2005/08/addressing">/soap:Envelope/soap:Header/a:Action[starts-with(text(),'http://myNamespace.org/IMyService/ToUpper')]</add>
                </filters>-->
      </messageLogging>
    </diagnostics>
    <behaviors>
      <endpointBehaviors>
        <behavior name="POV.Web.PortalSocial.wcf.PublicacionesServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="POV.Web.PortalSocial.wcf.ContactosServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="POV.Web.PortalSocial.wcf.NotificacionServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="POV.Web.PortalSocial.wcf.MensajesServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="POV.Web.PortalSocial.wcf.ReactivosServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="POV.Web.PortalSocial.wcf.ReporteAbusoServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="POV.Web.PortalSocial.wcf.JuegosServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="POV.Web.PortalSocial.WebServices.AutenticacionJuegoServiceAspNetAjaxBehavior">
          <webHttp />
        </behavior>
        <behavior name="POV.Web.PortalSocial.WebServices.RegistroResultadoJuegoServiceAspNetAjaxBehavior">
          <webHttp />
        </behavior>
        <behavior name="POV.Web.PortalSocial.wcf.EjesTematicosServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="POV.Web.PortalSocial.wcf.SituacionesServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="POV.Web.PortalSocial.wcf.ContenidosDigitalesServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="POV.Web.PortalSocial.wcf.AsistenciaServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="POV.Web.PortalSocial.wcf.CursosServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="POV.Web.PortalSocial.wcf.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="POV.Web.PortalSocial.wcf.FavoritosServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="POV.Web.PortalSocial.wcf.OrientacionVocacionalServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="POV.Web.PortalSocial.wcf.UsuarioServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="behaviorOrientacionVocacional">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="GetBehaviorAction">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="behaviorJuegoWeb">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="POV.Web.PortalSocial.wcf.PublicacionesService">
        <endpoint address="" behaviorConfiguration="POV.Web.PortalSocial.wcf.PublicacionesServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="POV.Web.PortalSocial.wcf.PublicacionesService" />
      </service>
      <service name="POV.Web.PortalSocial.wcf.ContactosService">
        <endpoint address="" behaviorConfiguration="POV.Web.PortalSocial.wcf.ContactosServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="POV.Web.PortalSocial.wcf.ContactosService" />
      </service>
      <service name="POV.Web.PortalSocial.wcf.NotificacionService">
        <endpoint address="" behaviorConfiguration="POV.Web.PortalSocial.wcf.NotificacionServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="POV.Web.PortalSocial.wcf.NotificacionService" />
      </service>
      <service name="POV.Web.PortalSocial.wcf.MensajesService">
        <endpoint address="" behaviorConfiguration="POV.Web.PortalSocial.wcf.MensajesServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="POV.Web.PortalSocial.wcf.MensajesService" />
      </service>
      <service name="POV.Web.PortalSocial.wcf.ReactivosService">
        <endpoint address="" behaviorConfiguration="POV.Web.PortalSocial.wcf.ReactivosServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="POV.Web.PortalSocial.wcf.ReactivosService" />
      </service>
      <service name="POV.Web.PortalSocial.wcf.ReporteAbusoService">
        <endpoint address="" behaviorConfiguration="POV.Web.PortalSocial.wcf.ReporteAbusoServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="POV.Web.PortalSocial.wcf.ReporteAbusoService" />
      </service>
      <service name="POV.Web.PortalSocial.wcf.EjesTematicosService">
        <endpoint address="" behaviorConfiguration="POV.Web.PortalSocial.wcf.EjesTematicosServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="POV.Web.PortalSocial.wcf.EjesTematicosService" />
      </service>
      <service name="POV.Web.PortalSocial.wcf.SituacionesService">
        <endpoint address="" behaviorConfiguration="POV.Web.PortalSocial.wcf.SituacionesServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="POV.Web.PortalSocial.wcf.SituacionesService" />
      </service>
      <service name="POV.Web.PortalSocial.wcf.ContenidosDigitalesService">
        <endpoint address="" behaviorConfiguration="POV.Web.PortalSocial.wcf.ContenidosDigitalesServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="POV.Web.PortalSocial.wcf.ContenidosDigitalesService" />
      </service>
      <service name="POV.Web.PortalSocial.wcf.AsistenciaService">
        <endpoint address="" behaviorConfiguration="POV.Web.PortalSocial.wcf.AsistenciaServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="POV.Web.PortalSocial.wcf.AsistenciaService" />
      </service>
      <service name="POV.Web.PortalSocial.wcf.CursosService">
        <endpoint address="" behaviorConfiguration="POV.Web.PortalSocial.wcf.CursosServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="POV.Web.PortalSocial.wcf.CursosService" />
      </service>
      <service name="POV.Web.PortalSocial.wcf.FavoritosService">
        <endpoint address="" behaviorConfiguration="POV.Web.PortalSocial.wcf.FavoritosServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="POV.Web.PortalSocial.wcf.FavoritosService" />
      </service>
      <service behaviorConfiguration="behaviorOrientacionVocacional" name="POV.Web.PortalSocial.wcf.OrientacionVocacionalService">
        <endpoint address="" behaviorConfiguration="POV.Web.PortalSocial.wcf.OrientacionVocacionalServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="POV.Web.PortalSocial.wcf.OrientacionVocacionalService" />
      </service>
      <service name="POV.Web.PortalSocial.wcf.UsuarioService">
        <endpoint address="" behaviorConfiguration="POV.Web.PortalSocial.wcf.UsuarioServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="POV.Web.PortalSocial.wcf.UsuarioService" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding">
          <security mode="Transport" />
        </binding>
        <binding name="bindingJuegoWeb" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00" maxReceivedMessageSize="65536" maxBufferSize="65536" maxBufferPoolSize="524288" allowCookies="true" useDefaultWebProxy="True">
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings rightToLeft="false" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
</configuration>