<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
		<sectionGroup name="devExpress">
			<section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
		</sectionGroup>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</configSections>
	<appSettings>
		<!-- parametros framework plenumsoft -->
		<add key="POVDatabaseName" value="POV"/>
		<add key="POVLikeSymbol" value="%"/>
		<add key="POVParameterSymbol" value="@"/>
		<add key="POVNamedParameters" value="true"/>
		<add key="POVUserParameter" value="User ID"/>
		<add key="POVPasswordParameter" value="Password"/>
		<!--imagen correo de registro exitoso-->
		<add key="POVUrlImgEmail" value="http://testpov.grupoplenum.com/images/email.png"/>
		<add key="POVUrlImgLogo" value="http://testpov.grupoplenum.com/images/logo.png"/>
    <!-- redes sociales -->
    <add key="POVUrlImgBackground" value="http://testpov.grupoplenum.com/images/header-yoy-template.png"/>
    <add key="POVUrlImgFace" value="http://testpov.grupoplenum.com/images/facebook.png"/>
    <add key="POVUrlImgTwit" value="http://testpov.grupoplenum.com/images/twitter.png"/>
    <add key="POVUrlImgLinked" value="http://testpov.grupoplenum.com/images/in.png"/>
    <add key="POVUrlImgInstagram" value="http://testpov.grupoplenum.com/images/instagram.png"/>
		<!--imagen y liga de redireccion que se incluye en el correo de recuperacion de cuenta de universidad y de cuenta de docente -->
		<add key="POVUrlImgCAMPUS" value="../images/head_mail.jpg"/>
		<!--identificador de base de datos del modulo de talentos -->
		<add key="MODULO_TALENTOS_KEY" value="1"/>
		<!-- Ruta de reportes generados -->
		<add key="POVURLReportes" value="~/Files/Reportes/"/>
		<!--URL login portal universidad -->
		<add key="POVUrlPortalUniversidad" value="http://testpov.grupoplenum.com/PortalUniversidad/Auth/Login.aspx"/>
		<add key="POVUrlPortalSocial" value="http://testpov.grupoplenum.com/PortalSocial/Auth/Login.aspx"/>
		<!-- Landing Page-->
		<add key="POVUrlLandingPage" value="http://testpov.grupoplenum.com"/>
		<!-- url landing page Requisitos Universidad-->
		<add key="POVUrlLandingPageRequisitos" value="http://testpov.grupoplenum.com/RequisitosUniversidad.aspx"/>
	</appSettings>
	<connectionStrings>
		<remove name="LocalSqlServer"/>
		<remove name="ApplicationService"/>
		<remove name="POV"/>
    <!-- conexion base de datos servidor -->
    <!--
		<add name="POV" providerName="System.Data.SqlClient" connectionString="Server=sqlsvr.grupoplenum.com;Database=YOYVOCACIONAL_OPTER_DEV;User ID=plencamunusr; Password=4vv4BmF2ZhE2"/>
	-->
    <add name="POV" providerName="System.Data.SqlClient" connectionString="Server=LAPTOP-3N2LT6UJ;Database=YOYVOCACIONAL_OPTER_TESTB;Trusted_Connection=true"/>
  </connectionStrings>
	<log4net debug="false">
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
			<file value="pov-log.txt"/>
			<appendToFile value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
			</layout>
		</appender>
		<appender name="HttpTraceAppender" type="log4net.Appender.AspNetTraceAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
			</layout>
		</appender>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="log-data\admin-log.txt"/>
			<appendToFile value="true"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="5MB"/>
			<rollingStyle value="Size"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="ALL"/>
			<!--appender-ref ref="LogFileAppender" /-->
			<!--appender-ref ref="HttpTraceAppender" /-->
			<appender-ref ref="RollingLogFileAppender"/>
		</root>
	</log4net>
	<!--
		Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

		Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
			<system.Web>
				<httpRuntime targetFramework="4.5" />
			</system.Web>
	-->
	<system.web>
		<globalization uiCulture="es" culture="es-MX"/>
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="DevExpress.XtraReports.v12.1.Web, Version=12.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="DevExpress.Data.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Printing.v12.1.Core, Version=12.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.ASPxEditors.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraReports.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Utils.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
			</assemblies>
		</compilation>
		<sessionState timeout="1440" cookieName="NATWAREADMINSESSION" compressionEnabled="true" mode="InProc"/>
		<authentication mode="Forms">
			<forms loginUrl="~/Auth/Login.aspx" timeout="2880" requireSSL="true"/>
		</authentication>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
		<customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="~/Errors/Error.aspx">
			<error statusCode="100" redirect="~/Errors/Error.aspx"/>
			<error statusCode="101" redirect="~/Errors/Error.aspx"/>
			<error statusCode="200" redirect="~/Errors/Error.aspx"/>
			<error statusCode="201" redirect="~/Errors/Error.aspx"/>
			<error statusCode="202" redirect="~/Errors/Error.aspx"/>
			<error statusCode="203" redirect="~/Errors/Error.aspx"/>
			<error statusCode="204" redirect="~/Errors/Error.aspx"/>
			<error statusCode="205" redirect="~/Errors/Error.aspx"/>
			<error statusCode="206" redirect="~/Errors/Error.aspx"/>
			<error statusCode="300" redirect="~/Errors/Error.aspx"/>
			<error statusCode="301" redirect="~/Errors/Error.aspx"/>
			<error statusCode="302" redirect="~/Errors/Error.aspx"/>
			<error statusCode="303" redirect="~/Errors/Error.aspx"/>
			<error statusCode="304" redirect="~/Errors/Error.aspx"/>
			<error statusCode="305" redirect="~/Errors/Error.aspx"/>
			<error statusCode="307" redirect="~/Errors/Error.aspx"/>
			<error statusCode="400" redirect="~/Errors/Error.aspx"/>
			<error statusCode="401" redirect="~/Errors/Error.aspx"/>
			<error statusCode="402" redirect="~/Errors/Error.aspx"/>
			<error statusCode="403" redirect="~/Errors/Error.aspx"/>
			<error statusCode="404" redirect="~/Errors/Error.aspx"/>
			<error statusCode="405" redirect="~/Errors/Error.aspx"/>
			<error statusCode="406" redirect="~/Errors/Error.aspx"/>
			<error statusCode="407" redirect="~/Errors/Error.aspx"/>
			<error statusCode="408" redirect="~/Errors/Error.aspx"/>
			<error statusCode="409" redirect="~/Errors/Error.aspx"/>
			<error statusCode="410" redirect="~/Errors/Error.aspx"/>
			<error statusCode="411" redirect="~/Errors/Error.aspx"/>
			<error statusCode="412" redirect="~/Errors/Error.aspx"/>
			<error statusCode="413" redirect="~/Errors/Error.aspx"/>
			<error statusCode="414" redirect="~/Errors/Error.aspx"/>
			<error statusCode="415" redirect="~/Errors/Error.aspx"/>
			<error statusCode="416" redirect="~/Errors/Error.aspx"/>
			<error statusCode="417" redirect="~/Errors/Error.aspx"/>
			<error statusCode="500" redirect="~/Errors/Error.aspx"/>
			<error statusCode="501" redirect="~/Errors/Error.aspx"/>
			<error statusCode="502" redirect="~/Errors/Error.aspx"/>
			<error statusCode="503" redirect="~/Errors/Error.aspx"/>
			<error statusCode="504" redirect="~/Errors/Error.aspx"/>
			<error statusCode="505" redirect="~/Errors/Error.aspx"/>
		</customErrors>
		<httpModules>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</httpModules>
		<httpHandlers>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false"/>
		</httpHandlers>
		<pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="4.0">
			<namespaces/>
			<controls/>
		</pages>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</modules>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
		</handlers>
	</system.webServer>
	<system.serviceModel>
		<!--__________________________________________Security https services_________________________________________________-->
		<bindings>
			<webHttpBinding>
				<binding>
					<!--<security mode="Transport" />-->
				</binding>
			</webHttpBinding>
		</bindings>
		<!--____________________________________________Security https services_______________________________________________-->
		<behaviors>
			<endpointBehaviors>
				<behavior name="POV.Web.PortalUniversidad.wcf.UsuarioServiceAspNetAjaxBehavior">
					<enableWebScript/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
		<services>
			<service name="POV.Web.PortalUniversidad.wcf.UsuarioService">
				<endpoint address="" behaviorConfiguration="POV.Web.PortalUniversidad.wcf.UsuarioServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="POV.Web.PortalUniversidad.wcf.UsuarioService"/>
			</service>
		</services>
	</system.serviceModel>
	<devExpress>
		<themes enableThemesAssembly="true" styleSheetTheme="" theme=""/>
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
		<settings rightToLeft="false"/>
		<errors callbackErrorRedirectUrl=""/>
	</devExpress>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0"/>
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
</configuration>
