<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- parametros framework Compañia -->
    <add key="POVDatabaseName" value="POV" />
    <add key="POVLikeSymbol" value="%" />
    <add key="POVParameterSymbol" value="@" />
    <add key="POVNamedParameters" value="true" />
    <add key="POVUserParameter" value="User ID" />
    <add key="POVPasswordParameter" value="Password" />

    <!-- Redes sociales -->
	<add key="POVUrlImgLogo" value="https://yoyvocacional.com/images/logo.png"/>
    <add key="POVUrlImgBackground" value="https://yoyvocacional.com/images/header-yoy-template.png"/>
    <add key="POVUrlImgFace" value="https://yoyvocacional.com/images/facebook.png"/>
    <add key="POVUrlImgTwit" value="https://yoyvocacional.com/images/twitter.png"/>
    <add key="POVUrlImgLinked" value="https://yoyvocacional.com/images/in.png"/>
    <add key="POVUrlImgInstagram" value="https://yoyvocacional.com/images/instagram.png"/>
    
    <!-- Link Portales-->
    <add key="POVUrlPortalAspirante" value="https://yoyvocacional.com/PortalSocial/Auth/Login.aspx?u=asp"/>
    <add key="POVUrlOrientador" value="https://yoyvocacional.com/PortalSocial/Auth/Login.aspx?u=ori"/>
    <add key="POVUrlPadres" value="https://yoyvocacional.com/PortalPadres/Auth/Login.aspx"/>

    <!-- Templates-->
    <add key="POVUrlEmailTemplateNewUser" value="Files\protocolo\EmailTemplateNewUser.html"/>

    <!-- Configuracion de correo -->
    <add key="ConfigPath" value="Files\protocolo\config.txt"/>
    
    <!-- Configuracion de ejecucion del servicio por dia-->
    <!-- Calculo en horas-->
    <!-- 1 hora equivale a value = "1"-->
    <!-- Para que el servicio se ejecuta cada hora value=1-->
    <add key="Servicio" value="1"/>
    <!--EJECUCION POR HORA-->

    <!-- Maximo de correo a enviar-->
    <add key="MaximoCorreos" value="200"/>
  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <remove name="ApplicationService" />
    <remove name="POV" />
    <!-- conexion base de datos servidor -->
    <add name="POV" providerName="System.Data.SqlClient" connectionString="Server=WIN-BUED0IUKHJ7;Database=YOYVOCACIONAL_OPTER;User ID=yoyadmin; Password=f5EGYqBVvG2wTq7A"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>