<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- parametros framework Compañia -->
    <add key="POVDatabaseName" value="POV"/>
    <add key="POVLikeSymbol" value="%"/>
    <add key="POVParameterSymbol" value="@"/>
    <add key="POVNamedParameters" value="true"/>
    <add key="POVUserParameter" value="User ID"/>
    <add key="POVPasswordParameter" value="Password"/>
    <!--imagen correo de registro exitoso-->
    <add key="POVUrlImgEmail" value="http://testpov.grupoplenum.com/images/email.png"/>
    <add key="POVUrlImgLogo" value="http://testpov.grupoplenum.com/images/logo.png"/>
    <!-- redes sociales -->
    <add key="POVUrlImgBackground" value="http://testpov.grupoplenum.com/images/header-yoy-template.png"/>
    <add key="POVUrlImgFace" value="http://testpov.grupoplenum.com/images/facebook.png"/>
    <add key="POVUrlImgTwit" value="http://testpov.grupoplenum.com/images/twitter.png"/>
    <add key="POVUrlImgLinked" value="http://testpov.grupoplenum.com/images/in.png"/>
    <add key="POVUrlImgInstagram" value="http://testpov.grupoplenum.com/images/instagram.png"/>
    <!--URL login portal tutor -->
    <add key="POVUrlPortalTutor" value="http://testpov.grupoplenum.com/PortalTutor/Auth/Login.aspx"/>
    <!--URL login portal aspirante -->
    <add key="POVUrlPortalAspirante" value="http://testpov.grupoplenum.com/PortalSocial/Auth/Login.aspx"/>
    <!--URL Nuevo tutor -->
    <add key="POVNuevoTutor" value="http://testpov.grupoplenum.com/PortalTutor/Tutores/NuevoTutor.aspx"/>
    <!--URL Tutorados -->
    <add key="POVUrlTutorados" value="Tutorados.aspx"/>
    <add key="POVUrlPaquetesPremium" value="http://localhost:62968/Auth/AccesoCompraCredito.aspx"/>
    <add key="POVtiempoEsperaNotificacion" value="50000"/>

    <add key="CAMPUSNuevoPadre" value="http://testpov.grupoplenum.com/Administracion/Aspirantes/NuevoAspirante.aspx"/>
    <!-- Envio de datos incorrectos -->
    <add key="EmailSoporte" value="soporte@yoyvocacional.com"/>
  </appSettings>
  <system.web>
    <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="~/Error.aspx">
      <error statusCode="100" redirect="~/Error.aspx"/>
      <error statusCode="101" redirect="~/Error.aspx"/>
      <error statusCode="200" redirect="~/Error.aspx"/>
      <error statusCode="201" redirect="~/Error.aspx"/>
      <error statusCode="202" redirect="~/Error.aspx"/>
      <error statusCode="203" redirect="~/Error.aspx"/>
      <error statusCode="204" redirect="~/Error.aspx"/>
      <error statusCode="205" redirect="~/Error.aspx"/>
      <error statusCode="206" redirect="~/Error.aspx"/>
      <error statusCode="300" redirect="~/Error.aspx"/>
      <error statusCode="301" redirect="~/Error.aspx"/>
      <error statusCode="302" redirect="~/Error.aspx"/>
      <error statusCode="303" redirect="~/Error.aspx"/>
      <error statusCode="304" redirect="~/Error.aspx"/>
      <error statusCode="305" redirect="~/Error.aspx"/>
      <error statusCode="307" redirect="~/Error.aspx"/>
      <error statusCode="400" redirect="~/Error.aspx"/>
      <error statusCode="401" redirect="~/Error.aspx"/>
      <error statusCode="402" redirect="~/Error.aspx"/>
      <error statusCode="403" redirect="~/Error.aspx"/>
      <error statusCode="404" redirect="~/Error.aspx"/>
      <error statusCode="405" redirect="~/Error.aspx"/>
      <error statusCode="406" redirect="~/Error.aspx"/>
      <error statusCode="407" redirect="~/Error.aspx"/>
      <error statusCode="408" redirect="~/Error.aspx"/>
      <error statusCode="409" redirect="~/Error.aspx"/>
      <error statusCode="410" redirect="~/Error.aspx"/>
      <error statusCode="411" redirect="~/Error.aspx"/>
      <error statusCode="412" redirect="~/Error.aspx"/>
      <error statusCode="413" redirect="~/Error.aspx"/>
      <error statusCode="414" redirect="~/Error.aspx"/>
      <error statusCode="415" redirect="~/Error.aspx"/>
      <error statusCode="416" redirect="~/Error.aspx"/>
      <error statusCode="417" redirect="~/Error.aspx"/>
      <error statusCode="500" redirect="~/Error.aspx"/>
      <error statusCode="501" redirect="~/Error.aspx"/>
      <error statusCode="502" redirect="~/Error.aspx"/>
      <error statusCode="503" redirect="~/Error.aspx"/>
      <error statusCode="504" redirect="~/Error.aspx"/>
      <error statusCode="505" redirect="~/Error.aspx"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <sessionState timeout="1440" cookieName="SistemaSOCIAL" compressionEnabled="true" mode="InProc"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Auth/Login.aspx" timeout="2880"/>
    </authentication>
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false"/>
    </httpHandlers>
  </system.web>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <remove name="ApplicationService"/>
    <remove name="POV"/>
    <!-- conexion base de datos servidor -->
    <!--
		<add name="POV" providerName="System.Data.SqlClient" connectionString="Server=sqlsvr.grupoplenum.com;Database=YOYVOCACIONAL_OPTER_DEV;User ID=plencamunusr; Password=4vv4BmF2ZhE2"/>
	-->
    <add name="POV" providerName="System.Data.SqlClient" connectionString="Server=LAPTOP-3N2LT6UJ;Database=YOYVOCACIONAL_OPTER_TESTB;Trusted_Connection=true"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <!--__________________________________________Security https services_________________________________________________-->
    <bindings>
      <webHttpBinding>
        <binding>
          <!--<security mode="Transport" />-->
        </binding>
      </webHttpBinding>
    </bindings>
    <!--____________________________________________Security https services_______________________________________________-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="POV.Web.PortalTutor.wcf.TutorServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="POV.Web.PortalTutor.wcf.UsuarioServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="POV.Web.PortalTutor.wcf.TutorService">
        <endpoint address="" behaviorConfiguration="POV.Web.PortalTutor.wcf.TutorServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="POV.Web.PortalTutor.wcf.TutorService"/>
      </service>
      <service name="POV.Web.PortalTutor.wcf.UsuarioService">
        <endpoint address="" behaviorConfiguration="POV.Web.PortalTutor.wcf.UsuarioServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="POV.Web.PortalTutor.wcf.UsuarioService"/>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme=""/>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
    <settings rightToLeft="false"/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>